[2019-12-05 08:46] ctavan commented on #334
OK, we'll first make sure to get the typings in order, see #328. Should not matter if the uuid code base itself is written in TypeScript or not as long as we provide useful typings.

[2019-12-05 08:46] #334 closed

[2019-12-06 17:36] defunctzombie commented on #338
@ctavan @broofa require 2fa is _not_ currently enabled. Would you like me to enable it? When I enabled it everyone in the organization must have 2fa on their account or they will be removed from the organization.

@ctavan kelektiv was created by @ncb000gt as a way of grouping a few commonly maintained and popular modules under an organization rather than a single personal account. Organizations ma

[2019-12-06 20:57] broofa commented on #338
It looks like the kelektiv org consists of just the three of us, right?  So... yeah unless either of you two have a reason not to, let's turn on 2FA.  I know it's not required, but it's the responsible thing to do.

Regarding what kelektiv is and what the right home for `uuid` should be, if there's a more suitable organization I'm fine with that.   I don't have a specific suggestion there, but how

[2019-12-06 22:36] ctavan commented on #338
+1 for 2FA

Regarding the org: thanks for the clarification! I did not mean to question whether the current org was a good place for this library, I was just curious.

The only thing that confused me a bit was that the member list of the kelektiv org does not seem to be public. Especially for security related OpenSource projects I would personally prefer to see more transparency in the orgs that e

[2019-12-07 02:23] broofa commented on #338
+1 for making org membership public

[2019-12-07 04:28] ncb000gt commented on #338
@defunctzombie is correct. I had a baby on the way, my second, at the time with a bunch of other obligations and management of the different projects was getting tougher from my personal account. So I looked at moving bcrypt and cron to other projects but it was clear that wasn't going to work out. Thus, kelektiv was born.

I agree with the points about transparency in oss. And, that security shou

[2019-12-07 13:00] ctavan commented on #338
OK, I think we have votes for:

2FA: @broofa @defunctzombie @ncb000gt @ctavan ✅
Member list public: @broofa @ncb000gt @ctavan ❓

As I have no visibility (yet) into the current member list, could one of you check, if there are additional members that need to be asked?

@defunctzombie fine with public membership as well?

[2019-12-07 15:38] defunctzombie commented on #338
In order to enable 2FA, @ncb000gt and @wercker (a bot?) need to enable 2FA on their accounts. Once they have done so I can enable 2FA.

Membership in an organization is a per-user setting. Each person can decide if they want to make their membership public or not. This is personal preference.

[2019-12-08 12:26] ctavan commented on #338
@defunctzombie I'm aware that org admins can specify org visibility for each member separately however I haven't found a way how I could control that on my own for orgs where I'm member but not admin. Where would I change that visibility?

If it turns out not to be possible for group members to control that on their own could you adjust the corresponding settings in the org for all of us?

[2019-12-08 16:03] defunctzombie commented on #338
@ctavan Each user must manage their own visibility. See this guide https://help.github.com/en/github/setting-up-and-managing-your-github-user-account/publicizing-or-hiding-organization-membership

[2019-12-08 19:14] ctavan commented on #338
Oh ok, so does that mean I'm not a member of the org at the moment?

<img width="301" alt="Screenshot 2019-12-08 20 13 51" src="https://user-images.githubusercontent.com/508118/70394650-4dbbef00-19f7-11ea-8187-063068ed168c.png">

[2019-12-14 04:37] ncb000gt commented on #338
I've updated my 2fa (had turned off to test some things) and made my
membership public.

Thanks for the reminder.

On Sun, Dec 8, 2019, 2:14 PM Christoph Tavan <notifications@github.com>
wrote:

[2019-12-15 16:35] broofa commented on #338
@defunctzombie Looks like ctavan isn't in the kelektiv org.  Can you add him?
![image](https://user-images.githubusercontent.com/164050/70865748-c8b06880-1f15-11ea-8afc-e9766ec304d6.png)

[2019-12-28 13:41] ctavan commented on #338
@defunctzombie friendly ping?

[2019-12-30 00:59] #316 closed

[2019-12-30 11:59] jonkoops commented on #316
@broofa I think closing this is a bit premature. The issue seems to occur only with the combination of Windows 7 and Internet Explorer 11 and not on Windows 10.

This makes sense because Microsoft actually ships a different build of Internet Explorer 11 on each version of Windows, so there can be discrepancies between them. I would suggest to try and reproduce this issue with the combination of In

[2019-12-30 18:20] broofa commented on #316
@jonkoops Win 7 + IE 11 is working for me.    This is using webpack to build the test at http://www.broofa.com/tests/uuid_test/, and running on BrowserStack.  I know @robwierzbowski said he's unable to reproduce in BrowserStack, however it's the only testing environment I have available to me at this time.

As stated before, until there's an SSCCE this isn't actionable.

![image](https://user-imag

[2019-12-31 14:37] jonkoops commented on #316
@broofa If it's not reproducible, then it cannot be fixed. Thanks for giving it another look!

[2019-12-31 15:28] broofa commented on #316
@onoufriosm, @jandom, @robwierzbowski or whoever is welcome to submit a PR.  It just needs to come from someone who can explain the nature of the problem and fix.  And, more importantly, verify the fix works (and also that it won't break something else.)

[2019-12-31 15:39] robwierzbowski commented on #316
The difficulty we had in reproducing is that it only happens on a subset of Win 7 + IE11 browsers. Not sure if it's based on something installed in the browser, a race condition, or a specific Win 7 minor version.

None of the environments I have to test on can reproduce the problem. I posted in the hopes that others might be able to.

We probably won't put more effort into reproducing this since

[2020-01-03 00:25] defunctzombie commented on #338
@ctavan You are a collaborator on this repo rather than the entire org. I have no problem adding you to the entire org but I think we did per repo collaborators. @ncb000gt do you care? I don't remember who even maintains the bcrypt stuff or what their status is.

[2020-01-03 13:20] ctavan commented on #338
@defunctzombie @ncb000gt @broofa: Given that there does not really seem to be an intersection of active maintainers of `node-uuid` and other repos in the `kelektiv` org I would like to bring up the idea of moving the `uuid` module into its own organization again.

I would see several benefits:
1. We could use the org to grant privileges which would allow us to establish a transparent list of maint

[2020-01-03 21:50] broofa commented on #338
I'd be fine with that.  'Totally understand your feelings re: productivity.

[2020-01-04 23:52] defunctzombie commented on #338
I personally think it is fine adding folks as collaborators on repos rather than entire org but I also do not care either way where this lives hosting wise. Tell me what you all want me to do and I will do it.

[2020-01-06 12:46] ctavan commented on #338
I have created a new org on github and I intend to transfer ownership of this repo into the org: https://github.com/uuidjs

The new home of this repo will be: https://github.com/uuidjs/uuid

I'll wait for objections for another 3 days 😉

@defunctzombie @broofa I have invited both of you to the new organization and will give you `owner` permissions once you have accepted the invitation.

[2020-01-06 16:57] broofa commented on #338
@ctavan Sounds good, thank you!

Quick sanity check questions:
- Is there an existing organization that might be an appropriate home for this module?  No reason to create a new org if there is already a good home available... not that I'm aware of such.
- If creating a new organization, should it have a charter beyond maintaining this one uuid repo?  I.e. What other repos might be appropriate for

[2020-01-06 19:27] ctavan commented on #338
I exchanged a few DMs with @bcoe on this: He told me that he moved two of his former personal projects into dedicated orgs (namely https://github.com/yargs and https://github.com/istanbuljs) and was happy with the move. I have done the same a few years back with https://github.com/express-validator/express-validator (it's also a single-purpose org) when somebody else became the primary maintainer

[2020-01-06 20:17] broofa commented on #338
Sounds good.  In terms of logistics are there any considerations that would prevent simply [transferring this repo](https://help.github.com/en/github/administering-a-repository/transferring-a-repository) to the new org?  Seems like the simplest approach.  @defunctzombie @ctavan

[2020-01-06 20:30] ctavan commented on #338
I think we should do exactly this: Transfer the repo to the new org. All relevant things should remain intact and github will set up redirects from the old repo URL (so we should make sure NOT to create a repo named https://github.com/kelektiv/node-uuid later!).

[2020-01-13 20:58] defunctzombie commented on #338
@broofa are you 👍 on the transfer to the new org?

[2020-01-14 00:27] broofa commented on #338
@defunctzombie Yup.  I'm in the new org, so @ctavan  and I can take it from here.

[2020-01-15 00:56] defunctzombie commented on #338
The repository transfer is complete.

[2020-01-15 08:39] ctavan commented on #338
I‘m currently home sick with a flu but will make sure to adjust repo URL’s etc in the package.json as quickly as possible.

Thanks for your help!

[2020-01-15 15:05] broofa commented on #338
@defunctzombie Hey, I know nothing much is changing with this and I look forward to your continued involvement here in whatever form that takes, but this sort of thing is as significant an event as we opensource folks seem to get.  So let me just take this opportunity to say I appreciate all the work you've done.  Thanks, man!

<a href="https://gitme.me/image?url=https%3A%2F%2Fi.imgflip.com%2F3m6z

[2020-01-15 21:33] ncb000gt commented on #338
Glad you were all able to figure something out that works for your project. :)

As a note, I haven't had any issues with transferring personal projects into orgs, that's what I did with bcrypt and cron.

[2020-01-16 12:07] ctavan commented on #340
This has been fixed in #348

[2020-01-16 12:07] #340 closed

[2020-01-16 18:55] #338 closed

[2020-01-16 18:56] ctavan commented on #338
Thanks everyone for your support!

[2020-01-19 10:51] felixge commented on #303
I'd like to give some more insights on what's going on with PostgreSQL when indexing UUID values.

Like most relation databases, PostgreSQL defaults to using a [B-Tree data structure](https://postgrespro.com/blog/pgsql/4161516) for indexes. Below is an example B-Tree from the linked article showing integer values being indexed.

![image](https://user-images.githubusercontent.com/15000/72679357-aed

[2020-01-19 15:05] broofa commented on #303
@felixge Thanks for taking the time to provide such an insightful comment.  Very helpful!

Reopening so as to encourage further discussion.

[2020-01-19 15:57] broofa commented on #303
@ramsey [points out](https://twitter.com/ramsey/status/1217945645904007171) that my comments about v1 serving much the same purpose are mistaken, which I'm happy to concede in light of @felixge's test, above.

That said, my concern with COMBs is [still] that "time-ordered v4 UUIDs" is an oxymoron.  Version 4 UUIDS are "meant for generating UUIDs from truly-random or pseudo-random numbers" [[rfc](h

[2020-01-19 16:31] ramsey commented on #303
In the nearly 7 years this has been supported in ramsey/uuid, I’ve not had a single complaint.

See also http://gh.peabody.io/uuidv6/

I plan to support this recommendation in version 4 of ramsey/uuid. It has been mentioned to the IETF but, without implementations, they didn’t wish to discuss it.

[2020-01-19 18:36] ctavan commented on #303
Thanks for pointing to the uuidv6 draft @ramsey, that sounds really promising! Looks like 1. of @broofa's suggestions has already been done 😉.

I think in the light of producing more implementations to encourage standardization it might be worthwhile to implement it for JavaScript.

As @broofa suggested I think we would be happy to host this new module here in this org. However I would also prefer

[2020-01-19 19:26] ctavan commented on #303
Here is already an implementation: https://github.com/aarondcohen/id128/blob/master/src/id/uuid-6.js

[2020-01-19 19:43] broofa commented on #303
@ramsey, Interesting article, thanks for sharing!  I think it highlights the need for a broader conversation, though.  Simply riffing on version 1 is, imho, not the right approach.  There is more than one issue with v1 that should be addressed in a proposed v6 format.  Specifically:
* The 64-bit Gregorian timestamps format is problematic (in JS) and wasteful.  It should not be propagated to any ne

[2020-01-19 22:29] ramsey commented on #303
These are all historical artifacts of the GUID format, originally created by Microsoft. I think if you were to try deviating from the RFC 4122 variant enough, you might consider creating a new variant.

[2020-01-20 01:08] ramsey commented on #303
For reference, here’s the IETF thread I mentioned. I was wrong; they didn’t state they needed more implementations before discussing it. I had that confused with something else, I think.

https://mailarchive.ietf.org/arch/msg/ietf/8h5cs3CHzYpbKIOc4FxO730OD4o

[2020-01-20 10:18] ctavan commented on #303
@bradleypeabody as you can see from the thread above we have been discussing your UUID v6 proposal here. The linked email thread on the IETF mailing list seems to end without any conclusion. Would you like to share some more insight on what happened to your initial v6 proposal? How do you think about it today?

[2020-01-20 22:25] ctavan commented on #342
Current status: https://github.com/nodejs/modules/blob/master/doc/plan-for-new-modules-implementation.md#phase-4-further-improvements-after-unflagging

[2020-01-20 22:30] ctavan commented on #330
This is in the next branch since #337.

[2020-01-20 22:30] #330 closed

[2020-01-21 09:12] bradleypeabody commented on #303
@ctavan Thanks for asking.  To summarize some thoughts on it:

- The v6 idea I came up with before was intended to be a small change to the existing standard in order to preserve backward compatibility.
- In retrospect, it is not clear how much use or backward compatibility is or how much importance should be placed on it.  For example, UUIDs use hex encoding in the string representation. This plu

[2020-01-21 20:26] ctavan commented on #303
Thank you for your write up, @bradleypeabody! I'm definitely happy to help exploring around this topic (and potentially contributing a JS impl). I'm also fine with moving the discussion over into your repo.

[2020-01-22 08:19] felixge commented on #303
Depends on the database. PostgreSQL turns text UUIDs into binary and back transparently to the point that application developers don't have to worry about it much.

In fact, using anything other than UUID will force you to reimplement this text<->binary conversion yourself.

(I have no horse in this race, just wanted to point this out)

[2020-01-22 13:23] ctavan commented on #303
@felixge I bet you have only been waiting to implement such a conversion as a PostgreSQL extension, right 😉?!

[2020-01-22 13:28] felixge commented on #303
@ctavan my comment was actually a warning against throwing the baby out with the bathwater ; ). Additionally, IIRC, PostgreSQL doesn't care how your UUID looks and if certain version related bits are set. Any 128 bit value is accepted.

So not sure if a new id format is needed. There is also a lot of prior art in this space that should be considered.

[2020-01-22 17:54] bradleypeabody commented on #303
@felixge It's a valid point for sure.  I do definitely think a new format is needed, simply because the existing one doesn't provide much functionality for most applications and the whole setup can be made simpler.

I also think that many implementations can just use the string format directly if it is compact enough.

However, it is certainly possible to combine the idea of multiple text formats

[2020-01-27 21:17] ctavan commented on #173
Fixed in #354.

[2020-01-27 21:17] #173 closed

[2020-01-27 22:21] ctavan commented on #345
This has been merged to the next branch with #357 and will be released with the upcoming major version release.

[2020-01-28 22:13] #345 closed

[2020-01-31 14:51] MattyBalaam commented on #328
A warning that this change has broken Typescript in our app! More info here: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/41814#issuecomment-580763714

[2020-01-31 23:47] sam-s4s commented on #328
Thank you for doing this - my problem is solved <3

[2020-02-13 18:38] dragondgold opened #364 "CDN URLs not working"
The links to `https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js` and `https://cdn.jsdelivr.net/npm/uuid@latest/dist/umd/uuidv4.min.js` to use in the browser are not working!

[2020-02-17 11:25] ctavan commented on #364
@dragondgold as written in the current README, the current READEM already refers to the next major release of this library which will be v7.0.0.

The current stable release v3.4.0 does not offer built-in support to load the library from a CDN. As detailed out [in other issues there are workarounds though](https://github.com/uuidjs/uuid/issues/302#issuecomment-524827935).

Alternatively you could t

[2020-02-17 22:59] ctavan commented on #245
Sorry for taking such a long time but we have finally released `uuid@7.0.0-beta.0` which features native ESModules-Support for the browser:

[code]

The [master branch README](https://github.com/uuidjs/uuid/blob/master/README.md) already reflects the API of v7.0.0.

It would be awesome to get feedback from you if this release works well for you.

[2020-02-18 00:16] dstaley opened #368 "Publish TypeScript types with package"
Congratulations on releasing the big ES modules rewrite! I gave it a try in a simple toy app, and it works wonderfully. It was great to see tree-shaking working correctly!

The only feedback I have is that it'd be really nice to have the TypeScript definitions published as part of the package instead of a separate `@types` package. This would ensure that all consumers of v7 and up are able to use

[2020-02-18 08:02] ctavan commented on #368
@dstaley thank you for taking the time to test the new version, I'm glad to hear it worked well for you!

I'm reluctant to include the types in this project as long as it is written in JS, since [the Typescript docs explicitly state](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html):

Since I'm not a regular TypeScript user I don't know if packages tend to stick to th

[2020-02-18 08:56] Oliboy50 commented on #245
To try your different uuid releases using Typescript, you can use this sandbox if you want: https://codesandbox.io/s/gallant-voice-iwy7z

(I personnally didn't try to use `uuid` without TS, so I don't know how to make sure your ESModule configuration works using vanilla JS)

anyway, both versions (`3.4.0` and `7.0.0-beta.0`) seem to work fine with Typescript using this syntax:

[code]

as long as

[2020-02-18 13:07] ctavan commented on #245
@Oliboy50 thanks for trying it out and posting the link to the sandbox!

I want to highlight that the new recommended way of importing is now:

[code]

I quickly tried it out with your sandbox and it seems to work as well! Can you confirm that?

[2020-02-18 13:12] ctavan opened #370 "Drop the default export?"
In `uuid@3.x` the Version 4 algorithm was exported as a default:

[code]

In the current master this is no longer the case:

[code]

The minimum we should probably do is describe this in the README and in the CHANGELOG.

I could also try to use the data from https://github.com/tc39/proposal-uuid/tree/master/analysis in order to try to figure out how much of a breakage removing the default export w

[2020-02-18 13:18] ctavan commented on #245
Oh, and @Oliboy50 if I'm not totally mistaken you can drop ` "esModuleInterop": false` from your `tsconfig` if you use the new way of importing the library!

[2020-02-18 17:35] dstaley commented on #368
@ctavan That's great to hear! Each method has its trade-offs (for instance, this exact scenario where you can't ship prerelease types), but as long as you're willing to maintain the types users will have good experiences.

In the meantime, I'll try manually installing your changes into `node_modules` and giving it a test in my TypeScript projects and letting you know the results.

[2020-02-18 22:39] dstaley commented on #368
@ctavan I totally forgot that npm can resolve packages via GitHub, so I pushed your type definition to a repo and installed it in my TypeScript projects. It works wonderfully, and I confirmed that the `module` field is correctly resolved by bundlers like rollup.

I can't wait for this to land. Thank you for all the work you've done!

For anyone else that wants to give it a try, you can run `npm in

[2020-02-19 19:22] broofa commented on #370
Finally, an actual breaking change!  ;-)   (I'm fine with this since we've been actively discouraging people from using a default export since v3.)

[2020-02-19 21:06] dragondgold commented on #364
Thank you @ctavan :)

[2020-02-19 21:06] #364 closed

[2020-02-20 10:41] ctavan commented on #370
Cool! I only found out about this breaking change now while writing the TypeScript types, so it looks like you did a great job at discouraging it's use 😂!

I will still add a note to the upgrading section in the readme though and will make sure that this breaking change appears in the CHANGELOG.

[2020-02-21 10:29] #370 closed

[2020-02-23 06:56] dstaley commented on #342
@ctavan Just curious: are you planning on enabling the ES module version for Node? I'm considering doing the same in my libraries, and would love to hear your thoughts there.

[2020-02-24 13:18] ctavan commented on #342
@dstaley TL;DR: Yes, but not immediately.

I am planning to do this. However given the whole thing has only recently landed in Node.js, it's still flagged as experimental and there has been a lot of back and forth with the implementation details, I will likely wait a bit longer until ESM support is more stable in Node.js

Also, it will be a bit of a challenge to enable ESM for Node.js with this mo

[2020-02-24 13:36] ctavan commented on #245
We have just released [`uuid@7.0.0`](https://github.com/uuidjs/uuid/blob/v7.0.0/CHANGELOG.md#700-2020-02-24) which now features native ES6 import support. Please feel free to open a new issue if you encounter any issues with the new version.

[2020-02-24 13:38] ctavan commented on #173
We have just released [`uuid@7.0.0`](https://github.com/uuidjs/uuid/blob/v7.0.0/CHANGELOG.md#700-2020-02-24) which removes support for insecure default RNGs. Please feel free to open a new issue if you encounter any issues with the new version.

[2020-02-24 13:40] ctavan commented on #345
We have just released [`uuid@7.0.0`](https://github.com/uuidjs/uuid/blob/v7.0.0/CHANGELOG.md#700-2020-02-24) which now features direct UMD builds again: https://github.com/uuidjs/uuid#umd-builds

Please feel free to open a new issue if you encounter any issues with the new version.

[2020-02-24 13:40] ctavan commented on #364
We have just released [`uuid@7.0.0`](https://github.com/uuidjs/uuid/blob/v7.0.0/CHANGELOG.md#700-2020-02-24) which now features direct UMD builds again: https://github.com/uuidjs/uuid#umd-builds

Please feel free to open a new issue if you encounter any issues with the new version.

[2020-02-24 13:41] ctavan commented on #302
We have just released [`uuid@7.0.0`](https://github.com/uuidjs/uuid/blob/v7.0.0/CHANGELOG.md#700-2020-02-24) which now features direct UMD builds again: https://github.com/uuidjs/uuid#umd-builds

Please feel free to open a new issue if you encounter any issues with the new version.

[2020-02-24 13:41] ctavan commented on #343
We have just released [`uuid@7.0.0`](https://github.com/uuidjs/uuid/blob/v7.0.0/CHANGELOG.md#700-2020-02-24) which contains all issues from this umbrella issue.

Please feel free to open a new issue if you encounter any issues with the new version.

[2020-02-24 13:41] #343 closed

[2020-02-24 16:20] dylancom opened #375 "Version >=7.0.0 is not compatible with React Native / Expo"
When I'm upgrading from 3.4.0 to 7.0.0 an error saying it can't require "crypto" pops up in a React Native app. It used to work fine before.

[2020-02-24 16:41] VandalPaulius commented on #375
+1
v7 isn't compatible with AWS Lambda as well. I get `uuid: This browser does not seem to support crypto.getRandomValues().` error, which sounds exactly like @dylancompanjen error

[2020-02-24 16:46] jvpelt commented on #375
Same goes for Azure functions. Getting the message:

[2020-02-24 18:29] ibc commented on #368
Right now I cannot upgrade to `uuid` v7 because my app/lib is written in TypeScript so it also needs [@types/uuid](https://www.npmjs.com/package/@types/uuid) which, right now, is still 3.4.7.

Please, consider adding TypeScript into `uuid` itself. If you don't want, you don't need to rewrite the whole code to TS but just add a `"types": "index.d.ts"` in `package.json` and create a `index.d.ts` tha

[2020-02-24 18:30] ibc commented on #375
Is this just affecting React Native? or also desktop browsers? I have like MANY libs for Node and browser that depends on `uuid`...

[2020-02-24 18:47] ctavan commented on #375
Thanks for the reports, we‘ll have to investigate.

Could anyone of you provide a minimal reproduction case? That would be extremely helpful!

[2020-02-24 18:49] ctavan commented on #368
We do have a pending PR for the types at https://github.com/DefinitelyTyped/DefinitelyTyped/pull/42438

It should be merged within the next few days. Please see my [comment above](https://github.com/uuidjs/uuid/issues/368#issuecomment-587330334) for the reasoning why we don't bundle the types with this module at the moment.

[2020-02-24 18:54] ibc commented on #368
Yes, sorry. I just consider that it's easier to include types definition within the own package rather than publishing a separate package to @types. Obviously up to you :)

[2020-02-24 19:52] ibc commented on #375
I just confirm that the issue does NOT happen in browsers (using `uuid` 7.0.0 with `browserify`). So it may be something just related to `react-native`, but I cannot check that.

[2020-02-24 20:37] TrySound commented on #375
Check this
https://github.com/ai/nanoid#react-native

[2020-02-24 20:51] broofa commented on #368
... for typescript users, not necessarily for package developers, especially ones who are not themselves TypeScript devs.

@ctavan: I'd suggest only taking a PR that adds typescript defs if the person is willing to support that them moving forward.  I.e. There should be a comment-header in the file that says, "_Please make sure issues related to these typedefs are assigned to @[PR author] in Githu

[2020-02-24 21:01] fraxken opened #376 "v3.4.0 to v7.0.0 ?"
Hi,

Is there is a mistake with the major number of the new version ? Or there is a reason to not go with major 4 etc ?

Best Regards,
Thomas

[2020-02-24 21:44] broofa commented on #376
https://github.com/uuidjs/uuid/blob/master/README.md#upgrading-from-uuid3

[2020-02-24 21:44] #376 closed

[2020-02-24 21:50] ctavan commented on #375
@TrySound thanks for the hint, maybe we can go a similar route. Will check it out in detail.

[2020-02-24 21:54] ZebraFlesh commented on #375
I think the issue is that node LTS (12.16.1 as of this message) does not offer the `crypto.getRandomValues` API. Here's the minimally reproducible test case in a node REPL:
[code]

[2020-02-24 21:56] CareLuLu-Gabriel opened #377 "v7 methods cannot be stubbed"
Our unit tests that use uuid stopped working. It seems that `sandbox.stub(uuid, 'v4')` no longer works.

[code]

It seems to be related to the way `defineProperty` is being used. Not sure if there are other implications of replacing the defineProperty by simply setting the property, but switching this:

[code]

to the following works.

[code]

[2020-02-24 22:00] TrySound commented on #375
@ZebraFlesh You are right getRandomValues is not part of node crypto. Also it's not used in node version.
https://github.com/uuidjs/uuid/blob/master/src/rng.js#L4
getRandomValues is used in browser version and it's correct.
https://github.com/uuidjs/uuid/blob/master/src/rng-browser.js

The problem are environments. They provides own sandboxes.

[2020-02-24 22:01] EJMason commented on #377
I'm currently running into the exact same issue. My guess is that it has to do with there [not being any default export](https://github.com/uuidjs/uuid#default-export-removed).

I tried this and it also did not work:

[code]

[2020-02-24 22:05] TrySound commented on #377
ES Modules will not allow you to patch module object (`import * as uuid from 'uuid'`) either. You need to find another way to replace implementation like mocking modules in jest or dependency injection.

[2020-02-24 22:12] CareLuLu-Gabriel commented on #377
I'm using this work around. Created a wrapper lib for uuid.

[code]

[2020-02-24 22:14] ZebraFlesh commented on #375
Here's what I know: performing the following code in a serverless handler which is bundled with webpack fails with the crypto.getRandomValues is not a function message:
[code]
Looking at @TrySound's links it's very strange to me that this would go into the browser code instead of the node variant, but it is. (And my webpack config explicitly has a `target: 'node'` line.)

[2020-02-24 22:19] TrySound commented on #375
Very good catch!

@ctavan main does not always mean node environment and module does not always mean browser environment. There is special browser field for this. You should provide commonjs and esm for both node and browser environment.

Look how this is solved here in react-map-gl project
https://github.com/uber/react-map-gl/blob/master/package.json#L17-L25

[2020-02-24 22:41] broofa commented on #377
@EJMason While it's true there's no default export for the ES6 module version, I don't think that's the issue.  Rather, we've switched to using babel/rollup for compiling CommonJS, ESM, and UMD-specific files.   One side-effect of this is that babel now compiles the v4 export into the following:
[code]

I.e. The v4 property is now _enumerable_, but is not _configurable_ or (more importantly) _writ

[2020-02-24 22:45] broofa commented on #377
@CareLuLu-Gabriel  Per my previous comment, I suspect providing a `exports` with writable properties will solve this problem.  I.e.  A module that consists simply of ...
[code]

[2020-02-24 22:49] ZebraFlesh commented on #375
Jeez. It took a bit of digging to unpack all that, but you totally nailed it and made me smarter -- so thank you!  Here's a link to npm's docs on [`browser`](https://docs.npmjs.com/configuring-npm/package-json.html#browser); I couldn't find a concise explainer on `module` though (looks like it's mostly a proposal that most things are respecting, but not yet formalized in a spec).

[2020-02-24 22:52] TrySound commented on #375
Here's spec
https://github.com/defunctzombie/package-browser-field-spec

Also you can do the same to provide react-native specific solution
https://github.com/ai/nanoid/blob/master/package.json#L30-L32

[2020-02-24 22:56] bradleypeabody commented on #303
For anyone interested, an IETF draft for UUID version 6 has now been submitted.   We'll see what happens.

https://github.com/uuid6/uuid6-ietf-draft/blob/master/draft-peabody-dispatch-new-uuid-format-00.txt
https://datatracker.ietf.org/submit/status/109939/

[2020-02-24 22:57] CareLuLu-Gabriel commented on #377
@broofa yes, that's what I did in a way less elegant way :)

I can see preventing modification as a good thing (specially in the browser). The downside is stubbing. What about using the `main` and `browser` entry points on `package.json` to allow stubbing on node?

[2020-02-24 22:58] TrySound commented on #375
"module" field is just a convention. Modern bundlers prefer it over "main". Though node will provide soon conditional exports as official solution.
https://nodejs.org/api/esm.html#esm_conditional_exports

[2020-02-24 23:08] ramsey commented on #303
@bradleypeabody When you submit, does it automatically open up a discussion thread on the IETF mailing list? If so, which mailing list (I'm subscribed to the general one, but I don't see a thread for it).

[2020-02-24 23:17] ctavan opened #378 "Version 7.0.0 not compatible with Azure Functions/AWS Lambda/Google Cloud Functions"
References:
- https://github.com/uuidjs/uuid/issues/375#issuecomment-590428623
- https://github.com/uuidjs/uuid/issues/375#issuecomment-590576023

[2020-02-24 23:20] bradleypeabody commented on #303
@ramsey I believe the discussion is separate from the submission.  I did a bit more discussion on the main IETF mailing list (ietf at ietf dot org) and the upshot of it was to submit a draft that lays out the proposal in detail - with particular attention to why it's needed.   From my understanding the IETF meets quarterly and their next meeting is in a few weeks, which is when it would get some o

[2020-02-24 23:21] ctavan commented on #375
I believe we have two distinct issues in this one:

1. This module currently doesn't seem to be compatible with react-native since react-native seems to use the browser code of this library but doesn't expose the WebCrypto global `crytpo` object. We'll likely be able to provide a fix for this case similar as nanoid does by providing an override in the package.json's `react-native` field: https://g

[2020-02-24 23:51] ctavan commented on #377
As @broofa already explained we have migrated this library to use ESModules and per the spec ESModule exports cannot be dynamically modified, so in fact everything behaves as expected. Obviously this new behavior differs from the way things behaved with CommonJS exports with the downside of not being as easily mockable as before.

I found these discussions provided some helpful context:
- https://

[2020-02-25 00:08] nemoload opened #379 "version 7.0.0 doesn't work with react"
`import { v1 as uuidv1 } from 'uuid'`

gives this error:
[code]

[2020-02-25 00:20] #377 closed

[2020-02-25 05:17] evdama commented on #375
Same as for AWS, Azure, is also true for google cloud functions such as firebase cloud functions:
[code]

[2020-02-25 05:22] evdama commented on #378
It's not just Azure. AWS lambda as well as google cloud functions have the same issue
Same goes for Azure functions. Getting the message:

[2020-02-25 07:50] TrySound commented on #379
Check which version do you have in `/home/akhal3d/webapp/node_modules/uuid/package.json`?

[2020-02-25 07:51] TrySound commented on #375
@ctavan 3. Also main/module is confused with node/browser

[2020-02-25 11:38] ctavan commented on #378
@evdama @jvpelt @VandalPaulius @ZebraFlesh could you please share more details about your Azure Functions/AWS Lambda/Google Cloud Functions setup with steps to reproduce the error?

My suspicion is that you are bundling code in a way that is designed to run in a browser environment, not in Node.js

So are any bundlers like webpack or rollup involved in your process?

I created a minimalistic PoC t

[2020-02-25 11:50] evdama commented on #378
yes, I use rollup to bundle uuid

[2020-02-25 11:53] ctavan commented on #379
@nemoload the error you show does not seem to relate to this library. Have you tried to remove your `node_modules/` directory and run `npm install` again?

Please provide the exact steps to reproduce your error.

[2020-02-25 12:13] nemoload commented on #379
@TrySound

`"uuid": "^7.0.0"`

[2020-02-25 12:15] nemoload commented on #379
I have just did this and everything works fine now! I have no idea why this happened in the first place. Thank you all for your help and response.

[2020-02-25 12:15] #379 closed

[2020-02-25 12:43] goxr3plus opened #381 "DeprecationWarning: Deep requiring like `const uuidv4 = require('uuid/v4');` is deprecated as of uuid@7.x. Please require the top-level module when using the Node.js CommonJS module or use ECMAScript Modules when bundling for the browser. See https://github.com/uuidjs/uuid/blob/master/README.md#upgrading-from-v3x-of-this-module for more information."
I am getting the above error why :) ? Using the latest version `7.0.0`

[2020-02-25 14:03] TrySound commented on #381
@goxr3plus https://github.com/uuidjs/uuid/blob/master/CHANGELOG.md#700-2020-02-24

[2020-02-25 14:36] ZebraFlesh commented on #378
@ctavan Here's a minimal repo with what I'm doing. master branch is set to uuid@3.4.0; upgrade to uuid@7.0.0 to see failure. https://github.com/ZebraFlesh/uuid-serverless-poc

[2020-02-25 15:08] ctavan commented on #378
Thank you @ZebraFlesh. I think a fix is near: #380

[2020-02-25 16:01] ctavan commented on #381
@goxr3plus please refer [to this section in the README](https://github.com/uuidjs/uuid#deep-requires-now-deprecated) on more information upgrading this module from `3.x` to `7.x`

[2020-02-25 16:01] #381 closed

[2020-02-25 16:46] VandalPaulius commented on #378
Yes, in my case I was using Webpack to bundle everything, but the target was set to `node`. Hopefully #380 will fix it

[2020-02-25 17:13] neg3ntropy commented on #173
@ctavan updating uuid@7.0.0, it breaks for me in AWS Lambda, node 12.x:

[code]

Locally it works, but I cannot understand what would be the difference in AWS.

[2020-02-25 19:57] #378 closed

[2020-02-25 20:13] ctavan commented on #328
`@types/uuid@7.0.0` has finally been released and should fix this issue. Feel free to create a new issue if you feel that this problem has not been solved yet.

[2020-02-25 20:13] #328 closed

[2020-02-25 20:15] ctavan commented on #368
`@types/uuid@7.0.0` has finally been released and should fix this issue.

As mentioned above I'm happy to update the TypeScript definitions over at DefinitelyTyped if the API surface of this module changes, but I will follow the official recommendation of not bundling the type definitions into this module as long as it is not written in TypeScript.

[2020-02-25 20:15] #368 closed

[2020-02-25 20:28] ctavan commented on #378
I have just released `uuid@7.0.1` which should fix this issue. If the problem remains for anyone please feel free to open a new issue.

And thanks @TrySound for the great work! 🎉

[2020-02-25 20:28] ctavan commented on #173
@neg3ntropy please check https://github.com/uuidjs/uuid/issues/378#issuecomment-591052717. The issue should be fixed with `uuid@7.0.1`.

[2020-02-25 21:57] ctavan commented on #375
Looking at [nanoid](https://github.com/ai/nanoid#react-native) it looks like a solution for react-native is unfortunately not 100% straightforward: The random number generators used in node ([`crypto.randomBytes()`](https://nodejs.org/api/crypto.html#crypto_crypto_randombytes_size_callback)) and the browser ([`crypto.getRandomValues()`](https://developer.mozilla.org/en-US/docs/Web/API/Crypto/getRa

[2020-02-25 22:50] ibc commented on #368
Thanks, works perfectly (just tested in Node).

[2020-02-26 00:57] broofa opened #384 "Enable Github Sponsors?"
[Filing this as an issue so the conversation is public.  Anyone with an opinion should feel free to comment.]

@ctavan: Thoughts on adding a [sponsor button](https://help.github.com/en/github/administering-a-repository/displaying-a-sponsor-button-in-your-repository)?

I realize this may be an awkward conversation but I figured I'd put it out here just to get people's thoughts.  Also, I'm both impr

[2020-02-26 06:36] evdama commented on #378
Thanks much, working again for firebase cloud functions with node express middleware (code see above).

[2020-02-26 10:17] slavikdenis commented on #375
I think it's fixed in version `7.0.1`

[2020-02-26 10:24] EugeneDraitsev commented on #375
I still have the same error in `7.0.1`

[code]

[code]

[2020-02-26 12:01] lorenc-tomasz commented on #375
The same error in 7.0.1

[2020-02-26 14:02] ZebraFlesh commented on #378
Thanks so much for the quick turn around! Confirmed on my end that my PoC is fixed with 7.0.1 🙌

[2020-02-26 14:09] ctavan commented on #384
This is an interesting suggestion I haven't really considered so far. While I'm currently in the lucky situation that I can dedicate enough of my spare time to work on this module and I don't expect to earn money during that time I would certainly find it interesting to learn more about opportunities in that direction. After all I have put more than half a month worth of nominal working time into

[2020-02-26 16:24] broofa commented on #384
Only insofar as I got an email from Github about their [Sponsors](https://github.com/sponsors) program and went through the signup process (more for curiosity than anything else.)  It's pretty easy to do, and the end result is a "Sponsor" button on my Github profile that lands people [here](https://github.com/sponsors/broofa).  I'm not actively promoting that however so there hasn't been any activ

[2020-02-26 16:37] LinusU commented on #375
@ctavan I think it's very unfortunate that React Native doesn't provide a proper `crypto.getRandomValues` out of the box 😞

Personally, I think that the best approach is to have instructions to install the `react-native-get-random-values` polyfill and load that in at the setup for React Native users. That way they get a proper RNG, and the usage would be transparent since you only have to add the

[2020-02-26 17:32] Meemaw commented on #377
You can do this:

[code]

Not ideal if you want to mock using sandboxes, but it works.

[2020-02-26 22:37] ctavan commented on #375
Thank you so much for your contributions!

I think we could go even one step further and make this work out of the box using a `react-native` field in `package.json`. However documenting how to install a Polyfill might also be a viable solution, in particular since we would define the polyfill as a `peerDependency` only anyways, so there would be an extra `npm install` involved anyways…

Just one

[2020-02-27 09:29] LinusU commented on #375
@ctavan

I'm not exactly sure what we would put in that file? Do you mean that it would require the polyfill there? 🤔

I'm not sure that declaring `react-native-get-random-values` as a `peerDependency` is the best way forward, since that will give an "unmet peer dependency" warning for anyone using uuid on Node.js/browsers.

It does. It uses `SecRandomCopyBytes` on iOS and `SecureRandom` on Androi

[2020-02-27 16:30] LinusU commented on #375
This is still a problem for people using Expo, since they cannot install native modules. Please follow progress (and add your 👍 if it's affecting you) here: https://github.com/expo/expo/issues/7209

[2020-02-28 14:26] TJKoury opened #388 "NPM module missing file version 7.0.1"
## Describe the bug

ENOENT: no such file or directory, chmod .../node_modules/uuid/dist/bin/uuid

## To Reproduce

Steps to reproduce the behavior:

npm i uuid

## Expected behavior

Package should have dist bin file available.

## Runtime

All

## Additional context

[2020-02-28 14:36] #388 closed

[2020-02-28 14:37] TJKoury commented on #388
Looks like it was just an NPM issue, seems to be published now.

[2020-02-28 15:29] tapz commented on #342
What is the correct way currently to require the module in node.js? Didn't find an answer from the docs. Or should I just ignore the deprecation warning?

[2020-02-28 15:56] TrySound commented on #342
@tapz No correct way until conditional exports (https://nodejs.org/docs/latest-v12.x/api/esm.html#esm_conditional_exports) are landed in node. Currently they are under feature flag.

[2020-02-28 16:03] tapz commented on #342
@TrySound Then I really don't understand why this change was done. Does not make any sense at all.

[2020-02-28 16:08] ethanneff opened #389 "v7.0.1 crashes React Native"
## Describe the bug

A lot of breaking changes in v7.0.1 uuid

v3.4.0|v7.0.1|v7.0.1 + react-native-get-random-values
---|---|---
works|<img width="464" alt="Screen Shot 2020-02-28 at 8 04 02 AM" src="https://user-images.githubusercontent.com/2933593/75564532-29255100-5a01-11ea-8ed8-e5a10262683b.png">|<img width="464" alt="Screen Shot 2020-02-28 at 7 52 39 AM" src="https://user-images.githubusercon

[2020-02-28 16:18] ctavan commented on #389
Duplicate of #375

[2020-02-28 16:22] ctavan commented on #342
@tapz what are you looking for?

Do you want to use this module as a native ECMAScript Module (ESM) with Node.js' experimental ESM support? Then, as this issue describes, this is not yet supported.

Do you want to use this module as a classic CommonJS module with Node.js (`require()`-Syntax)? Then everything should be documented in https://github.com/uuidjs/uuid#deep-requires-now-deprecated

Does

[2020-02-28 16:40] ctavan commented on #389
OK, looks like this issue is a bit more specific than #375, see https://github.com/uuidjs/uuid/pull/390#issuecomment-592594777

Reopening until we have a working react native example.

[2020-02-28 16:52] TrySound commented on #342
@tapz This change was done to allow bundlers like rollup and webpack build more efficient code. And later native node support can be added with less steps.

[2020-03-02 07:47] LinusU commented on #389
@ethanneff is this with Expo? or are you using vanilla React Native?

If you are using Expo, you currently have to wait for https://github.com/expo/expo/issues/7209 to be fixed.

If you are using vanilla React Native it seems like your auto-linking have failed. I'm no expert here, but I _think_ that running `pod install` in the `ios` directory should fix it:

[code]

[2020-03-02 13:24] ctavan commented on #389
@ethanneff I'm pretty sure you are running into the same issue that I ran into in #390. Please check out that PR to see if it fixes your issue.

[2020-03-02 15:29] ethanneff commented on #389
You are correct.

[code]

[2020-03-02 15:31] #389 closed

[2020-03-02 16:35] evertbouw opened #392 "getRandomValues couldn't be found from a WebWorker in Edge18"
## Describe the bug

I've used uuid v4 in a webworker but now I'm seeing error logs from Edge18.

[code]

## Runtime

- OS: Windows 10
- Runtime: Edge
- Runtime Version: EdgeHTML 18.19041

[2020-03-02 16:37] ctavan commented on #392
@evertbouw can you please provide steps to reproduce as requested by the issue template? Thanks!

[2020-03-02 18:01] evertbouw commented on #392
I thought that would look a little bit silly as it's just repeating `call v4 in a webworker in Edge`, but I'll try to get a minimal repro online

[2020-03-02 18:14] LinusU commented on #389
I've also added the `pod install` step to the readme for react-native-get-random-values 👍

[2020-03-02 18:19] evertbouw commented on #392
![image](https://user-images.githubusercontent.com/6398211/75704929-90b9f580-5cba-11ea-8287-202841294482.png)

live: https://evertbouw.github.io/buggy-edge/
code: https://github.com/evertbouw/buggy-edge/blob/master/src/foo.worker.js

[2020-03-02 19:13] tanglebones commented on #303
@kael-shipman if you want something like the proposed uuid v6 I use https://github.com/tanglebones/pg_tuid which time prefixes the top bits of a UUIDv4.

[2020-03-02 20:54] ctavan commented on #392
Thank you for the reproduction code, that was really helpful!

Unfortunately, according to https://caniuse.com/#feat=cryptography, the WebCrypto API is not supported in WebWorkers in Edge<=18.

There was an issue regarding that problem on the old Edge Issuetracker which is no longer available: https://web.archive.org/web/20171210184325/https://developer.microsoft.com/en-us/microsoft-edge/platform/

[2020-03-02 21:08] broofa commented on #392
@ctavan 'worth noting that this a perfect example of why [Math.getRandomValues()](https://github.com/tc39/proposal-uuid#mathgetrandomvalues) is needed.

[2020-03-02 22:21] ctavan opened #394 "Invite @LinusU to uuidjs org"
@broofa opening this issue simply to document the fact that I have invited @LinusU to the uuidjs org as he has volunteered to help with reviews in https://github.com/uuidjs/uuid/pull/390#issuecomment-593539772 😉

Welcome @LinusU 🎉 !

We prefer if members of the uuidjs org make their membership public and we require 2FA to be enabled.

[2020-03-03 08:35] evertbouw commented on #392
Thanks!

I wasn't sure if this was intended because I couldn't really find anything on Google. In my worker I guess I used uuid out of habit but an auto increment id should suffice so I'm doing that now.

[2020-03-03 08:35] #392 closed

[2020-03-03 11:31] LinusU commented on #394
Thank you! 🎉

I've made the membership public and have 2FA enabled ☺️

[2020-03-03 12:26] #394 closed

[2020-03-03 14:13] actuallymentor commented on #375
Unless I am misunderstanding the docs, this is a workaround for expo:

[code]

Which would give `uuidv4` a RNG function that returns a static value that is contained to a single function run.

[2020-03-03 19:21] ctavan commented on #375
@actuallymentor I believe that this code _technically_ works however there's a crucial difference w.r.t. to how `uuid@3.x` was working (and `uuid@7.x` is still working in all supported environments): Your example `getuuid` method is now async with potentially totally different performance characteristics than the sync (and usually pretty consistently fast) `uuid` standard implementation.

That sai

[2020-03-04 07:47] actuallymentor commented on #375
That was not a decision on my part but a result of the `Random` API being async. I would prefer to have it sync, but I need to get my `expo`/`react-native` project's uuids somehow :)

[2020-03-04 10:05] ctavan commented on #375
Yep, I guess the best thing you can do is to express your interest in https://github.com/expo/expo/issues/7209 (already saw you 👍'ed) and follow the issue over there.

[2020-03-04 23:37] crfrolik commented on #376
FYI doing this sort of version skipping actually violates the semver spec, if you care about that sort of thing.  https://semver.org/#spec-item-2

(I also found it more confusing than having a version 4 of the module)

[2020-03-04 23:41] ctavan commented on #376
@crfrolik what aspect of semver does leaving out certain major versions violate?

[2020-03-05 00:22] broofa commented on #376
Semver doesn't prohibit skipping major versions.  Cited item #2 specifies version string form ("X.Y.Z"), provides no credibility to @crfrolik's claim.

[2020-03-05 13:19] caiquecastro opened #400 "Question: Version jump"
Why did the library jump from v3 to v7?

[2020-03-05 13:20] caiquecastro commented on #400
Found the answer

[2020-03-05 13:20] #400 closed

[2020-03-05 13:31] ctavan commented on #400
For reference: https://github.com/uuidjs/uuid#upgrading-from-uuid3

[2020-03-09 17:12] dattajoshi opened #403 "ELOOP: too many symbolic links encountered"
Hi,

I'm trying push my node code using aws-amplify, But I'm getting this error

ELOOP: too many symbolic links encountered, stat '/Users/project/amplify/backend/function/function/src/node_modules/uuid'
An error occured during the push operation: ELOOP: too many symbolic links encountered, stat '/Users/project/amplify/backend/function/function/src/node_modules/uuid'

Any help is appreciated

Using

[2020-03-09 22:59] ctavan commented on #403
At a first glance this doesn’t look like an obvious problem with this library, rather something in the specific npm/project setup.

Could you please provide detailed steps to reproduce the issue?

[2020-03-10 20:37] dattajoshi commented on #403
Thanks for checking, yeah the issue was with npm, the uuid packages wasn't packaged properly.
I fixed it.

Thanks though

[2020-03-10 20:37] #403 closed

[2020-03-13 21:55] mikehardy commented on #375
Hi there! I use this package and just finished upgrading to v7 for a react-native/reactxp app. After I added the react-native-get-secure-values polyfill in my bootstrap everything is working, so that's nice. I just wanted to mention as the maintainer of react-native-device-info that if you recommend a native module in react-native that uses the barely-documented trick of doing blocking-synchronous

[2020-03-14 12:40] dps910 commented on #245
I get a syntax error when importing uuid
`SyntaxError: The requested module 'uuid' does not provide an export named 'v4'`

[2020-03-14 13:07] TrySound commented on #245
@dps910 Which version do you see in your node_modules?

[2020-03-14 13:12] dps910 commented on #245
version 7.0.2

[2020-03-14 13:16] TrySound commented on #245
Ah, it's node. Only bundlers esm is supported for now.
https://github.com/uuidjs/uuid/pull/402

Can you try this?
import uuid from 'uuid';
uuid.v4

[2020-03-14 13:21] dps910 commented on #245
thanks, it works :smile:

[2020-03-14 16:25] LinusU commented on #375
Did you try that? Because as far as I know it already works out of the box with Chrome Dev Tools since that already has `crypto.getRandomValues`. The polyfill shouldn't be needed then...

[2020-03-14 16:32] mikehardy commented on #375
Oh my! You are absolutely right, it's in the browser so it's fine - didn't think that through - as stated I don't use them myself, just noted the use of the barely documented sync native stuff and it reminded me of the troubles I had when I used it. I think you're all set then. Thanks again for the library

[2020-03-14 16:34] LinusU commented on #375
No worries! ...and I would also like to say that I would love it if we didn't need the polyfill. I've tried [upstreaming this into React Native before, but they didn't see the need for it 😞](https://github.com/facebook/react-native/pull/20686)

[2020-03-14 17:23] mikehardy commented on #375
Yeah I saw that :-), I think you proposed it right as the lean core initiative was taking place and my read on it was that they wanted to make sure it was possible (as a pop quiz on their infrastructure capabilities) but that it wasn't a permanent no. I chimed in for whatever it's worth

[2020-03-20 03:21] eugenemlee commented on #375
I thought I should mention some other related issues i've encountered while trying to upgrade to v7 on RN. Using `react-native-get-random-values` breaks [shortid](https://github.com/dylang/shortid) which is used to generate route keys in `React Navigation`, hence breaking navigation for your app as well. This seems to only be the case on Android.

[2020-03-20 10:09] LinusU commented on #375
@eugenemlee

Hmm, this should be fixed, is there an open issue somewhere? or an explanation of the problem?

[2020-03-20 13:09] eugenemlee commented on #375
@LinusU Ok, I noticed that on Android for all values of `n = 3n - 1`:

[code]
Would always return a n-array where the last item was 0.
So I changed the following line in `RNGetRandomValuesModule.java` from:
[code]
to
[code]
and it works okay now. I have no idea why that would be the case, maybe you can shed some light.

[2020-03-20 14:09] LinusU commented on #375
@eugenemlee crap, that is very bad, I'll push a fix now, thanks for giving me the details 👍

[2020-03-20 14:51] LinusU commented on #375
@eugenemlee thanks again for bringing that to my attention, I published a fix as [1.3.1](https://github.com/LinusU/react-native-get-random-values/releases/tag/v1.3.1) and have deprecated all other versions with an appropriate message.

To anyone else in this thread, I should say that **the bug did not affect the UUID package**, as it did not trigger the bug in the package. That being said, you sho

[2020-03-20 16:51] mdodge-ecgrow commented on #342
I'm trying to figure out how to use this in my sequelize seed file.  I'm getting the deprecation warning and it is causing it to fail seeding.
This is my relevant code:
[code]

[2020-03-20 17:11] TrySound commented on #342
This will work too
[code]

[2020-03-24 13:52] judygab opened #408 "Not Compatible with React Native"
## Describe the bug
I installed uuid in my react native project, following the instructions in readme and encountered problems with it.
I followed the steps of clearing caches, deleting node modules and installing.
I'm attaching the image of the error that I am getting.
<img width="394" alt="Screen Shot 2020-03-24 at 9 47 51 AM" src="https://user-images.githubusercontent.com/50160672/77432955-1f4e

[2020-03-24 13:54] LinusU commented on #408
In version 7 of UUID we have deprecated the direct imports. Instead of importing from `uuid/v1`, could you try to import it as such:

[code]

[2020-03-24 13:55] ctavan commented on #408
As commented by @LinusU, deep requires are deprecated. It was indeed unintended, that we actually broke them for non-node environments, but we will probably not change that.

See https://github.com/uuidjs/uuid#deep-requires-now-deprecated for more information.

[2020-03-24 13:56] judygab commented on #408
This breaks before the import though.

[2020-03-24 13:58] LinusU commented on #408
It probably breaks when constructing the dependency tree, but if you change the import that should fix it. Did you try to change the import?

[2020-03-24 13:58] ctavan commented on #408
Hmm, we could use https://github.com/TooTallNate/util-deprecate 🤔

[2020-03-25 01:07] judygab commented on #408
Yeah, I tried that import but still getting the same error, does this require installing pods?

[2020-03-30 10:45] bostrom commented on #378
Bumped in to something similar today after upgrading from version 3 to version 7.0.2. Everything works locally, but on node in Azure I get a `TypeError: _ff5‍.a(...).v4 is not a function` when I import v4 as such:

[code]

I'm running my server code with `node -r esm`.

Is this somehow related to the above issue, or am I missing something?

[2020-03-30 12:37] ctavan commented on #408
@judygab did follow the polyfilling instructions from https://github.com/LinusU/react-native-get-random-values#readme ?

What does your exact import code look like?

[2020-03-30 14:30] kopax commented on #408
Hello, I just discovered your module and I am using react-native.

My target are iOS, Android and web, this is my import:

[code]

It work fine with iOS and Android, but I have the following error on the web:

    Deep requiring like `const uuidv4 = require('uuid/v4');` is deprecated as of uuid@7.x. Please require the top-level module when using the Node.js CommonJS module or use ECMAScript Module

[2020-03-30 15:12] ctavan commented on #408
Can you clear all build caches/node_modules directories/etc. and try again? This looks like some legacy code survived the upgrade and not like a problem with the `uuid` library.

In particular, search your code base for `uuid/v4` and upgrade all legacy import statements as described in https://github.com/uuidjs/uuid#deep-requires-now-deprecated

[2020-03-30 15:21] kopax commented on #408
@ctavan you are wrong, I never used your module before. I never heard of it before today when I was looking on how to get a filename for pictures taken with expo with the webcam.

[2020-03-30 15:28] TrySound commented on #408
Some module may not list its uuid in dependencies and use the root one instead. This might trigger warning. Try to add console.trace in uuid/v4.js to see which module trigger this.

[2020-03-30 15:29] kopax commented on #408
Ok, i'll do it now: `console.trace` and update this post

[2020-03-30 15:43] TrySound commented on #408
Looks like they fixed this in master. Need to ping them to publish new version.

[2020-03-30 15:45] kopax commented on #408
I have checked the commit and the PR title is a bit confusing... How did they "make it work"? Did they just removed it?

[2020-03-30 15:47] TrySound commented on #408
https://github.com/expo/expo/commit/d0bc483df71b999d539f16e94f276fba70e2c65a#diff-ce3eb7300b89a57b05be12979132e0bcR43-R46

[2020-03-30 15:49] kopax commented on #408
Thanks for the link.

Expo is not publishing often so I'll just stay with v3.4.0 till they upgrade. I believe this will still do the job.

[2020-03-30 15:56] judygab commented on #408
I have tried that, didn't work.

[2020-03-30 15:58] ctavan commented on #408
@judygab maybe you're having the same issue as https://github.com/uuidjs/uuid/issues/408#issuecomment-606070136 ?

[2020-03-30 16:01] judygab commented on #408
@ctavan I don't think so, I'm not using Expo.

[2020-03-30 16:04] TrySound commented on #408
Any package may forget to add uuid to dependencies. Try to add console.trace too.

[2020-03-30 16:06] judygab commented on #408
Agreed, but this was not happening until I installed uuid specifically.

[2020-03-31 07:06] ctavan commented on #408
@judygab I think that we're not finding a solution to your problem with further guesswork.

Could you please provide exact steps to reproduce (including all source code necessary to run into the error) so that we can find your issue (http://sscce.org/)? Thanks!

[2020-03-31 08:35] ctavan opened #410 "Drop Node.js 8.x support"
Node.js 8.x [reached EOL on 2019-12-31](https://github.com/nodejs/Release#end-of-life-releases).

Many of our development dependencies (prettier, rollup) already removed support for Node 8.x.

I would like to remove official support for node 8.x as well. This will require a major version bump.

Thoughts?

[2020-03-31 13:08] broofa commented on #410
Do it.  There's already precedent for only supporting maintained node releases in the form of #275.

[2020-03-31 20:18] ctavan commented on #410
As pointed out by @broofa, in #275 the preferred policy was "supported node versions + one legacy version".

This seems to make sense as long as popular runtimes like [Google Cloud Functions](https://cloud.google.com/functions/docs/concepts/nodejs-8-runtime) still support Node.js 8.x

[2020-03-31 20:18] #410 closed

[2020-03-31 20:40] azamsharp opened #414 "What happened to this package???"
This used to be a great package but now the whole usage is lost in docs. I have no idea how to use it. I just installed:

"uuid": "^7.0.3"

How do I use it in node?

[2020-03-31 20:54] ctavan commented on #414
What exactly is not clear? Have you seen https://github.com/uuidjs/uuid#quickstart---nodejscommonjs ?

If `import`-syntax is the problem then you can find an example of how to use `require()` syntax in - https://github.com/uuidjs/uuid#deep-requires-now-deprecated .

[2020-04-05 17:29] RWOverdijk commented on #375
@LinusU I'm getting:

When running expo on iOS.

[2020-04-05 17:38] RWOverdijk commented on #375
@actuallymentor thanks for your workaround, works perfect for the time being. 👍

[2020-04-05 22:02] joebernard opened #416 "React Native: crypto.getRandomValues() is not available when debugging with Chrome"
## Describe the bug

My React Native project has been using uuid for a while with no problem. I upgraded to v7 and installed `react-native-get-random-values`. I added `import 'react-native-get-random-values';` and changed my uuid import to `import {v4 as uuidv4} from 'uuid';` I cleaned the build in Xcode, deleted derived data, cleared watchman and metro cache, reinstalled all node modules, and ran

[2020-04-05 22:18] joebernard commented on #416
This only seems to be a problem when running in debug mode. In a release build it works.

[2020-04-06 00:49] joebernard commented on #416
Seems to only affect debug builds in the iOS simulator. Running on device with debug or release build works fine. But debug mode on simulator throws the errors.

Simulator is 11 Pro Max with iOS 13.4

[2020-04-06 06:18] ctavan commented on #416
Thanks for the report! @LinusU can you look into this?§§

[2020-04-06 08:26] ctavan commented on #414
Since I haven't heard back from you I will close this issue.

If you think that the documentation doesn't cover your needs please feel free to suggest improvements via a pull request.

[2020-04-06 08:26] #414 closed

[2020-04-06 22:39] Slapbox commented on #416
This issue exists also for Android React Native. The issue exists with or without debugging enabled.

This previously worked without any issue on `react-native@0.59.8`. The issue occurs in `react-native@0.61.4`

Related:
https://github.com/auth0/react-native-auth0/issues/276

[2020-04-07 14:10] Raynos commented on #414
I have the exact smae problem as the original issue opener.

I just installed uuid like I've done for years with the v3.x range.

The documentation has `import` / `export` which is not valid for my codebase and no example of how to use `require`

The examples of using `require` are all the way at the bottom of the README and since there's no good example after scrolling one or two pages I just

(╯

[2020-04-07 14:12] Raynos commented on #370
I would recommend leaving a human readable exception in place for user experience.

[2020-04-07 14:40] ctavan commented on #416
This sounds really strange. @joebernard @Slapbox would you mind trying out https://github.com/ctavan/uuid-example-react-native (which "works on my machine™", at least for iOS) and see if you can find any differences to your code base?

[2020-04-07 17:19] Slapbox commented on #416
@ctavan the first thing that stands out, which I meant to mention, is that we're using the Expo version of React Native, so we can't easily set that up to test unfortunately.

Maybe [this](https://github.com/uuidjs/uuid/issues/375#issuecomment-593971164) is the issue with Expo, but that doesn't seem to explain the trouble @joebernard is having.

[2020-04-07 17:53] ctavan commented on #416
Oh, if you are running expo then you will indeed run into [the problem described here](https://github.com/uuidjs/uuid/issues/375#issuecomment-592051615).

The best thing you can do is to chime in over at https://github.com/expo/expo/issues/7209 and express your support for adding this feature to expo.

It's true that @joebernard's issue might be a different one (regarding debug mode) and we'll hav

[2020-04-07 18:13] ctavan commented on #414
Although I believe that explaining the difference between CommonJS `require` syntax and ECMAScript Module `import` syntax is out of scope for this library, we have added an example of how to use the library with `require` in a more prominent position in the readme.

Thanks for the contribution @Raynos!

[2020-04-07 18:49] joebernard commented on #416
I think I fixed it in my project. I upgraded React Native from `0.61.5` to the latest version `0.62.1` and the error went away. I'm not set up for Android development so that may have to be tested separately but my immediate issue is solved.

[2020-04-07 19:47] ctavan commented on #416
Glad to hear! If there's further trouble please feel free to open a new issue.

[2020-04-07 21:42] danstepanov commented on #375
What would this look like outside of Expo?

[2020-04-08 08:37] Raynos commented on #414
You are one of the first of my dependencies migrating to ESM.

I believe my frustrations are with ESM and not with uuid itself, your just an early adopter.

[2020-04-08 21:28] danstepanov commented on #416
So I get this issue when trying to run via vscode debugger but not when running directly via the react-native cli.

## Issue
![image](https://user-images.githubusercontent.com/5482800/78835538-35f47780-79a5-11ea-8b9f-c9471d7d0a28.png)

## Runtime
[code]

## vscode launch.json
[code]

## Yarn cli
react-native run-ios --simulator 'iPad Pro (12.9-inch) (2nd generation) (13.0)'

[2020-04-09 08:30] LinusU commented on #416
I thought that when running under Chrome there would already be a global `crypto` object with `getRandomValues`, but apparently not. This needs some investigation, hopefully I'll get time for this soon, but in the meantime if anyone wants to help out it would be great if they could figure out if there is any way to access the native `crypto.getRandomValues` when running inside Chrome.

[2020-04-09 12:41] ctavan commented on #416
Possibly this is an actual bug in react-native: https://github.com/facebook/react-native/issues/26705

[2020-04-09 12:46] ctavan commented on #416
Ah no, I was reading that issue in a wrong way. We'll probably have to fix this in react-native-get-random-values in a similar way like here: https://github.com/facebook/react-native/commit/4fd9c9d544d741fb2df3ad849dfa4bdf4719ccf4

[2020-04-09 13:03] ctavan commented on #416
OK, I gave this a quick try and `global.crypto` is indeed `undefined` in the debug mode. Not sure how to proceed from here. Provide a `Math.random()`-based fallback in the case of async debugging? Sounds somehow wrong…

[2020-04-09 13:20] LinusU commented on #416
Hmm, if we guard it behind the double ifs as they do I guess that we could possibly fall back to an insecure implementation 🤔

[code]

[2020-04-09 15:32] ebm93 commented on #375
I installed react-native-get-random-values (1.3.1) to my react-native (0.62.1) project and I'm still getting this error msg:

What's the status on this issue?

[2020-04-09 17:09] LinusU commented on #375
@ebm93 did you add an import statement to import `react-native-get-random-values`? Did you run `pod install` in the `ios/` directory?

[2020-04-09 17:16] ebm93 commented on #375
Yes and Yes,

import 'react-native-get-random-values';
import {v4 as uuidv4} from 'uuid';

console.log("random number", uuidv4())

throws:

[2020-04-09 17:27] LinusU commented on #375
@ebm93 Are you running in the debugger? In that case see #416

[2020-04-09 17:46] ebm93 commented on #375
@LinusU  Yes, but it still happens in release builds on my iPhone X device.
However, only time uuidv4 works fine is when I'm running it in debug mode **with** React Native Debugger.

Very strange..

[2020-04-10 09:53] AlirezaInGitHub commented on #375
@LinusU  same problem here

[2020-04-11 00:01] azizur commented on #377
I have found this works really nice.

At the top of test file:
[code]

in the actual code:
[code]

[2020-04-13 17:17] TrySound commented on #410
Looks like google cloud packages are almost all migrated away from node 8.

[2020-04-13 23:04] PaulHaze commented on #375
For what it is worth, I have got it working in Expo with UUID v7.x.x by using v5 and implementing a NAMESPACE constant and creating an id using the value of the thing to be encoding alongside your namespace constant. Basically following this:

https://github.com/uuidjs/uuid#version-5-namespace

My code looks like this:
`import { v5 as uuid } from 'uuid';`
`import NAMESPACE from '../../data/constan

[2020-04-14 07:37] ctavan commented on #375
@PaulHaze this is totally expected since v3/v5 UUIDs are entirely deterministic, i.e. constant input produces constant output and there are no random numbers involved. Hence: No problem for react-native/expo where the missing piece vor v1/v4 UUIDs is a cryptographically secure random number generator.

As a side note: @PaulHaze please make sure that the deterministic nature of v5 UUIDs is really w

[2020-04-14 07:40] ctavan commented on #410
@TrySound thanks for the notice.

I still think that, given the wide adoption of this module, the "supported node versions + 1 unsupported" is still a good policy and puts less pressure on the ecosystem.

[2020-04-16 04:35] PaulHaze commented on #375
@ctavan thanks for replying, I am still very new to this and the main thing I was looking for was some sort of key generating ability and so for thats doing the trick. I have to admit though I am not ENTIRELY sure exactly what is going on under the hood - just that this seems to work where v1 and v4 didnt!

Regarding what you said here

could you explain a bit more what you mean by this?

[2020-04-16 07:03] LinusU commented on #375
@PaulHaze if you would have used an UUID v4, the React component would have to re-render the items every time since the `key` would be different each time.

Since UUID v5 is deterministic, i.e. it will return the same value for the same input, it is more suitable for this.

The downside of using UUID v5 is that it's using a cryptographically secure hash. This is good for some things, but when comp

[2020-04-16 07:30] eugenemlee commented on #375
@PaulHaze for what it's worth, the keys in React are only used internally and only needs to be unique within the list. You can simply use `key={value}` if `value` is guaranteed to be unique string/number. Otherwise using uuid to generate a hash is no better in terms of performance than just using the array index. Like this:

[code]

[2020-04-17 16:08] th1j5 opened #419 "Import error using Node with ES6 syntax"
## Was a bug report about using ES6 import syntax in Node

Since seeing this #245 (the last comments),
I would suggest updating the readme to explicitly state that it's not (yet #402 ) supported for Node.
This would prevent people from losing time on writing unnecessary bug reports ;)

Thanks!

[2020-04-21 04:59] SeanRenet commented on #375
throws this error

**`null is not an object (evaluating 'RNGetRandomValues.getRandomBase64')`**

Using
"expo": "~36.0.0",
"react-native": "https://github.com/expo/react-native/archive/sdk-36.0.0.tar.gz",
"uuid": "^7.0.3",

Has anyone figured this out yet?

[2020-04-21 06:39] LinusU commented on #375
@SeanRenet unfortunately Expo doesn't support `getRandomValues` at the moment, please thumbs 👍 this issue to show that this is something that we want: https://github.com/expo/expo/issues/7209

[2020-04-22 14:03] sundowndev opened #420 "question, possible uuid collision"
Hi, I've seen some projects doing this with this package: `v4().substr(0, 10)` to only take the 10 first characters of the UUID.

Is this creating a risk of collision ?

[2020-04-22 14:19] LinusU commented on #420
Yes.

You are only getting 9 hexadecimal characters of randomness (9 because one of the 10 will always be `-`)

<img width="720" alt="Screenshot 2020-04-22 at 15 18 34" src="https://user-images.githubusercontent.com/189580/79993322-8b07b180-84ac-11ea-87ad-cc68311b2666.png">

ref: https://zelark.github.io/nano-id-cc/

[2020-04-22 14:39] ctavan commented on #420
Nice tool, thanks for making me aware of that one @LinusU !

[2020-04-22 15:19] sundowndev commented on #420
Thank you @LinusU 👍

Do you know a way to safely generate short timestamp-based UUIDs ? Like 10 chars, growing as of time.

[2020-04-22 15:55] LinusU commented on #420
It's really hard to make a recommendation without knowing the full requirements and usage scenario.

With 10 characters and base64 encoding you can get 60bits of data. You then need to decide how much many bits you want to give to the date part, and how much to the random part.

e.g. if you split it 30bits to specify number of seconds since 2020-01-01, and 30 bits to randomness you should be able

[2020-04-22 16:59] broofa commented on #420
At the risk of being pedantic, a "10 char UUID" is an oxymoron.  "UUID" has a very specific definition (see RFC 4122). tl;dr - they have exactly 32 hex characters. No more, no less.

There are many libraries out there for generating unique IDs of various flavors.  E.g. `nanoid` and `shortid`.  Just be aware that you're venturing into "non-standard" territory and don't expect such IDs to play nice

[2020-04-22 17:07] #420 closed

[2020-04-22 17:27] sundowndev commented on #420
Alright thanks for the details. I was just wondering how could I generate youtube-like IDs (`/watch?v=gnV-8pkILF0`). Do you have any idea about that?

[2020-04-23 07:18] LinusU commented on #420
How many id:s are you going to generate?

<img width="723" alt="Screenshot 2020-04-23 at 08 11 18" src="https://user-images.githubusercontent.com/189580/80069895-05324780-853a-11ea-9060-959217d2b13d.png">

Using `nanoid(11)` will produce IDs that looks exactly like the YouTube ones. But I have a feeling that they are using some sort of coordination to make sure that collisions never happen.

I thi

[2020-04-24 00:39] andreescajeda commented on #375
I'm working with Expo, seems that Nano ID is having issues too. ☹️

[2020-04-24 01:07] andreescajeda commented on #375
For developers working with Expo (+ Firebase <7.13.1), here you have a temporary solution: https://github.com/leahciMic/random-uuid-v4

[2020-04-24 07:12] ctavan commented on #375
@andreescajeda please keep in mind that the package that you are linking to exposes the same problem (using flawed `Math.random()` as the source of randomness) that this `uuid` module was exposing in versions `<7.x`. You can equally just continue to use `uuid@3.x` and will get the same result.

You could also pass in a custom (weak) random number generator, e.g. the one that was used in `uuid@3.x`

[2020-04-25 10:29] samipshah100 commented on #375
Not sure if related here, but wanted to share. Please delete if inappropriate.

For RN (without Expo), uuid works in debugging mode (chrome debugger ) but in release mode (I.,e. without debugger), it throws an exception.

It took me a while to find out where the issue was.

After removing all calls to uuid, my app works as per normal.

The fact that it did NOT throw an error in debugging mode made

[2020-04-25 12:17] LinusU commented on #375
@samipshah100 it's because the debugger works by running all code in Chrome, which provides `crypto.getRandomValues` natively ☺️

[2020-04-27 15:22] FloodGames commented on #245
WARNING in ./src/server/object.js 204:14-18
    "export 'default' (imported as 'uuid') was not found in 'uuid'

Yes, it's the latest node trying to use 'import'

[2020-04-27 15:45] ctavan commented on #245
@FloodGames I'm not sure what you are trying to say.

Per [the docs](https://github.com/uuidjs/uuid#version-4-random) the recommended way of using `uuid` as an ES Module is:

[code]

Does this not work for you?

[2020-04-27 15:51] ctavan commented on #245
Oh, I think I lost something in my previous answer. This does indeed currently not work in blank nodeNode.js.

Running Node.js 14.0.0 I can do the following:

[code]

[2020-04-28 11:53] ctavan opened #424 "Add tests using npm pack"
Add a test using `npm pack`, see
* https://medium.com/javascript-in-plain-english/is-promise-post-mortem-cab807f18dcc
* https://github.com/then/is-promise/pull/25/files#diff-1d37e48f9ceff6d8030570cd36286a61R126

This was brought up in https://github.com/uuidjs/uuid/pull/423#issuecomment-620547154

[2020-04-29 11:40] #245 closed

[2020-04-29 11:40] #419 closed

[2020-04-29 11:40] #342 closed

[2020-04-29 12:35] #424 closed

[2020-04-29 20:43] ctavan commented on #419
@th1j5 we have just released `uuid@8.0.0` which comes with native ESM support for Node.js! Let us know if that works for you.

[2020-04-29 20:45] ctavan commented on #342
For everyone in this thread: we have just released `uuid@8.0.0` which comes with native ESM support for Node.js! Let us know if that works for you. [See CHANGELOG](https://github.com/uuidjs/uuid/blob/master/CHANGELOG.md#800-2020-04-29) for more info.

[2020-04-29 20:47] ctavan commented on #245
For everyone in this thread: we have just released `uuid@8.0.0` which comes with native ESM support for Node.js! Let us know if that works for you. [See CHANGELOG](https://github.com/uuidjs/uuid/blob/master/CHANGELOG.md#800-2020-04-29) for more info.

@FloodGames @dps910  this means that the way to go from now on is:

[code]

[2020-04-29 21:36] dps910 commented on #245
Yes, it is working thank you :)

[2020-04-29 22:10] Leandro-Albano opened #428 "No valid exports main found for '...\node_modules\uuid'"
## Describe the bug

Just installed version "8.0.0" and I'm experiencing the following behavior
Trying to import the lib this way
`import { v4 as uuidv4 } from "uuid";`

and getting
`No valid exports main found for '...\node_modules\uuid'`

Rolling back to "7.0.3" it works fine.

## Expected behavior

The lib should work fine.

## Runtime

- OS: Windows
- Runtime: Node.js
- Runtime Version: 13.5

[2020-04-29 22:29] TrySound commented on #428
What do you use to transpile es modules to commonjs?

[2020-04-29 22:33] TrySound commented on #428
@ctavan this is another way of providing exports
https://unpkg.com/browse/nanoevents@5.1.5/package.json

[2020-04-29 23:10] th1j5 commented on #419
Like a charm!

[2020-04-29 23:11] Leandro-Albano commented on #428
I'm using just typescript.

[2020-04-29 23:13] TrySound commented on #428
ts-node or tsc?

[2020-04-29 23:14] TrySound commented on #428
This issue looks similar https://github.com/ai/nanoid/issues/206#issuecomment-612222877

[2020-04-29 23:14] Leandro-Albano commented on #428
ts-node

[2020-04-29 23:19] TrySound commented on #428
Check the link. Update to the latest node 13

[2020-04-29 23:35] Leandro-Albano commented on #428
Cool, thank you so much, that worked!

[2020-04-29 23:35] #428 closed

[2020-04-30 02:40] afashaisakiye opened #429 "Device: (3:2294) null is not an object (evaluating 'f.getRandomBase64') on react-native"
## When I try to generate an UUID on react-native I get null is not an object error

the error only comes when I test on mobile but the app works fine in the browser. I have posted the question on stack overflow
[Question Here]( https://stackoverflow.com/q/61497199/6842763?stw=2)

[2020-04-30 09:08] ctavan commented on #428
FTR: We explicitly decided *not* to support early 13.x versions of Node.js where the `exports` field of `package.json` behaved slightly different (see https://github.com/uuidjs/uuid/pull/402#discussion_r389348264).

[2020-04-30 09:42] ctavan commented on #429
@afashaisakiye this is definitely unexpected.

Could you try https://github.com/ctavan/uuid-example-react-native to see if that works for you? And if so compare with your app to see where the difference is?

[2020-04-30 19:46] DanielJSottile opened #431 "uuid v 8.0.0 not working on node"
## uuid v 8.0.0 not working correctly on Node

we installed with npm install uuid to the latest version, and when running our server got this callback:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Install 'npm install uuid'
2. Run 'npm start' as a script to run the server/app
3. See error

## Expected behavior

I expected it behave normally, but this is a new patch.

## Runtime

[2020-04-30 20:18] TrySound commented on #431
See this issue https://github.com/uuidjs/uuid/issues/428

[2020-04-30 20:20] ctavan commented on #431
Yes. Please upgrade to latest node 13.x or 14. https://github.com/uuidjs/uuid/issues/428#issuecomment-621519202

[2020-04-30 20:20] #431 closed

[2020-04-30 20:26] ctavan opened #432 "Add @TrySound as maintainer"
@TrySound  you keep answering issues in this repo faster than me and you are providing so much valuable feedback. Thank you so much!

While I would still reserve the last say about PR merges and releases to @broofa and me  I would be happy to invite you as a maintainer to this repo so that you could closed issues and review PRs yourself. Of course only if you want that!

@broofa, @LinusU any objec

[2020-04-30 20:29] TrySound commented on #432
Thanks! I'm glad to help

[2020-05-01 00:16] broofa commented on #432
<a href="https://gitme.me/image?url=https%3A%2F%2Fmedia3.giphy.com%2Fmedia%2Fl0Ex39XVJoz6Wfh6w%2Fgiphy.gif&token=sure" data-gitmeme-token="sure"><img src="https://media3.giphy.com/media/l0Ex39XVJoz6Wfh6w/giphy.gif" title="Created by gitme.me with /sure"/></a>

[2020-05-01 08:27] LinusU commented on #432
![](https://media.giphy.com/media/9Ai5dIk8xvBm0/source.gif)

[2020-05-01 14:49] sundowndev commented on #420
Not if I simply use base64 as I mentioned above, right?

Yes. I think the length grows as of time, that's why I was asking. Thanks for pointing out nanoid tho, it has an implementation in several languages.

[2020-05-01 15:13] afashaisakiye commented on #429
I checked this  code but it's a bit complicated but here is my code
[code]

[2020-05-01 15:18] LinusU commented on #429
@afashaisakiye are you using Expo? The snack is running in Expo so it won't work there.

If you are using Expo, getRandomValues is currently not supported, please upvote this issue: https://github.com/expo/expo/issues/7209

[2020-05-01 15:58] broofa commented on #420
No.  UUIDs are not base64 encoded.

[2020-05-02 13:11] ctavan commented on #432
Welcome @TrySound!

As a matter of transparency: Would you mind making your membership of the UUID org public?

[2020-05-02 14:34] TrySound commented on #432
Thanks! Fixed

[2020-05-02 15:12] afashaisakiye commented on #429
Thank you I probably would have scratched my head for forever

[2020-05-02 19:20] #432 closed

[2020-05-02 22:32] lnogueir opened #433 "Cant require('uuid') version 8.0.0"
After npm install uuid

When trying to require('uuid') version 8.0.0 I get:

internal/modules/cjs/loader.js:625
  throw e;
  ^

Error: No valid exports main found for 'pathtomyproject/node_modules/uuid'
    at resolveExportsTarget (internal/modules/cjs/loader.js:622:9)
    at applyExports (internal/modules/cjs/loader.js:499:14)
    at resolveExports (internal/modules/cjs/loader.js:548:12)
    at F

[2020-05-02 22:33] lnogueir commented on #433
I did:
npm install uuid@7.0.0
and it works when i try to require, not sure if theres something wrong w/ version 8.0.0

[2020-05-02 22:56] broofa commented on #433
Can you provide detailed recipe?  For example, something like this...
[code]

[2020-05-02 23:19] lnogueir commented on #433
![Screen Shot 2020-05-02 at 7 16 02 PM](https://user-images.githubusercontent.com/48890798/80894516-937c9b00-8ca9-11ea-95e7-c1d8783644c2.png)

I've tested it on another computer with node and npm versions 8.10.0 and 6.14.4, respectively, and I was able to require('uuid') fine, however, on mac it happens what's on the image above.

[2020-05-03 07:57] TrySound commented on #433
@lnogueir Please update your node version. 13.5 is very old with incomplete es modules support.
https://nodejs.org/docs/latest-v13.x/api/documentation.html

[2020-05-03 07:59] TrySound commented on #433
Duplicate of https://github.com/uuidjs/uuid/issues/428

[2020-05-03 08:00] #433 closed

[2020-05-05 06:24] ASliceOfLife commented on #316
I came across the same error by using crypto-js. And for me it looks like it is linked to a specific patch level of Win7. Because i can reproduced it on a test VM i was provided with, which is not up to date. On a local VBox image, which is up2date, i was not able to reproduce the behavior.

[2020-05-05 07:33] ctavan commented on #316
Thank you for the Info @ASliceOfLife

However, this library will definitely not try to support specific legacy Windows 7 versions. Quite the opposite, I‘m happy to provide another reason for people to get rid of Windows 7 😉

[2020-05-05 23:36] svarlitskiy opened #436 "No valid exports for node_modules/uuid ( v8.0.0 )"
## Describe the bug

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Install Nodejs v13.5.0
2. npm install uuid@8.0.0
3. Launch node
4. require `const uuid = require('uuid');`

## Runtime

- OS: Linux 4.19.0-8-amd64 Debian x86_64 GNU/Linux
- Nodejs v13.5.0
- npm v6.14.4
- uuid v8.0.0

[2020-05-06 02:39] broofa commented on #436
Duplicate of #428

[2020-05-06 02:39] #436 closed

[2020-05-06 11:49] ctavan opened #437 "Deprecate uuidv4('binary') interface"
## Is your feature request related to a problem? Please describe.

In earlier versions of this library it was possible to pass a single first parameter into the `v1()` and `v4()` methods which would result in the method returning a new Array instead of a string representation of UUID.

Apparently [uuid@2.x already deprecated this API](https://github.com/uuidjs/uuid/tree/v2.0.1#deprecated-apis) but

[2020-05-06 13:21] jandom commented on #316
Never expected to see this one come back to life, very impressed that @ASliceOfLife actually managed to track it down! @onoufriosm check this out

[2020-05-06 13:53] broofa commented on #437
It's been ages since this API was documented.  'Tempted to say this wouldn't even require a major release but it'll probably break something somewhere.

Sorry, 'should've removed this ages ago but I'd honestly forgotten "binary" was even a thing.

[2020-05-06 15:49] LinusU commented on #437
Since we just released 8.0.0 it's _probably_ safe to remove in a minor 😅

Technically it's not documented so it wouldn't be "illegal" to remove it, and practically I cannot really se anyone using both 8.x and this feature 🤔

[2020-05-06 19:01] ctavan commented on #437
Hmm, I'm confident that somebody out there will be using the library in weird ways…

On the other hand, a quick query of the BigQuery dataset I once collected in https://github.com/tc39/proposal-uuid/tree/master/analysis revealed, that only 302 out of 78868 lines containing 'uuid' also contained the term 'binary'. That is of course only a very rough proxy.

I'm really not sure, the safe bet would

[2020-05-07 05:38] cloudpremise opened #440 "UUID fails to load on node 13.5.0"
## Describe the bug
I am unable to load UUID using Node v.13.5.0 on Catalina v10.15.2.

## To Reproduce

1. nvm use default (which currently points to v13.5.0)
2. npm install uuid
3. attempt to run local.js file with:
const { v4: uuidv4 } = require('uuid');
delcared in global.
4. Receive error:
internal/modules/cjs/loader.js:625
  throw e;
  ^

Error: No valid exports main found for '/Users/greg/D

[2020-05-07 06:34] LinusU commented on #440
Node.js verison 13.5.x is not supported by UUID v8.x, upgrade to a later version of Node.js 13.x, or to Node.js 14.x.

see #428

[2020-05-07 06:34] #440 closed

[2020-05-09 17:39] frascaluigi opened #441 "version 8.0.0 is not working with typescript"
## Describe the bug

`import { v4 as uuid } from 'uuid'`

don't work in my project with typescript 3.8.3

## Error

`No valid exports main found for '/Users/Luigi/Documents/projects/test/node_modules/uuid`

## Runtime

- macOS
- Node.js versione 13.6

[2020-05-09 18:42] ctavan commented on #441
Node.js verison 13.6 is pretty old and not supported by UUID v8.x, upgrade to a later version of Node.js 13.x, or to Node.js 14.x.

see #428

[2020-05-09 18:42] #441 closed

[2020-05-10 09:35] juhana commented on #408
The same error happens on a clean React Native project with no other dependencies added except uuid. If it's caused by an old version being used in the project, it looks like React Native's xcode package uses version 3.4.0 (and Jest, but that should affect only tests.)

[code]

[2020-05-11 13:12] evdama opened #442 "Package subpath './package.json' is not defined by "exports" in node_modules/uuid/package.json"
[code]

I'm getting this error going from uuid v7.0.3 to v8.0.0. That's the only change I made, no other package or app code changed. Node is v14.1.0 which works with uuid v7.0.3.

I also found a SO post about it, no solution so far either https://stackoverflow.com/questions/61621828/getting-strange-error-using-uuid-npm-module-what-am-i-doing-wrong

[2020-05-11 13:23] ctavan commented on #442
Please create a [new bug report using the bug report template that we provide](https://github.com/uuidjs/uuid/issues/new?assignees=&labels=&template=bug_report.md&title=). We are happy to help you, but we need a certain amount of information to deal with your request.

[2020-05-11 13:23] #442 closed

[2020-05-11 13:51] evdama opened #444 "package.json is not defined by "exports""
## Describe the bug

'./package.json' is not defined by "exports" when upgrading from v7.0.3 to v8.0.0

## To Reproduce

Steps to reproduce the behavior:

1. upgrading from v7.0.3 to v8.0.0 and running npm build in a Svelte project
2. See error

## Expected behavior

A rollup bundle without an error as shown below.

## Runtime

- OS: macOS
- Runtime: Node.js
- Runtime Version: 14.1.0

## Additiona

[2020-05-11 13:52] evdama opened #445 "package.json is not defined by "exports""
## Describe the bug

'./package.json' is not defined by "exports" when upgrading from v7.0.3 to v8.0.0

## To Reproduce

Steps to reproduce the behavior:

1. upgrading from v7.0.3 to v8.0.0 and running npm build in a Svelte project
2. See error

## Expected behavior

A rollup bundle without an error as shown below.

## Runtime

- OS: macOS
- Runtime: Node.js
- Runtime Version: 14.1.0

## Additiona

[2020-05-11 13:52] #445 closed

[2020-05-11 13:54] ctavan commented on #444
@evdama could you provide actual steps that let me reproduce your error (meaning, code that I can execute)? "grading from v7.0.3 to v8.0.0 and running npm build in a Svelte project" does not really help since I have no clue about the details of your project…

[2020-05-11 13:56] evdama commented on #444
I'm using uuid inside my `server.js` like so

[code]

[2020-05-11 14:02] ctavan commented on #444
OK, this is strange.

Judging from the stack trace of your error this looks much more like an issue with https://github.com/sveltejs/rollup-plugin-svelte though…

Apparently the svelte rollup plugin uses [`require-relative`](https://www.npmjs.com/package/require-relative) under the hood:

[code]

which likely has problems with modern Node.js module loading since its latest version has been publish

[2020-05-11 14:47] martnst opened #446 "Crazy Version Jump… 3.4 > 7.0 What happened?"
Hi *,

as I was running `yarn outdated` I was surprised how this package could go from version 3.4 to 8.0 in relatively short time. Checking the [CHANGELOG](https://github.com/uuidjs/uuid/blob/master/CHANGELOG.md) I noticed that 3 Majors were skipped. Unfortunately it does not explain why, though.

Bests,
Martin

![image](https://user-images.githubusercontent.com/3084607/81574678-6a918f80-93a6-11e

[2020-05-11 15:11] ctavan commented on #446
See https://github.com/uuidjs/uuid#upgrading-from-uuid3

[2020-05-11 15:11] #446 closed

[2020-05-11 17:09] evdama commented on #444
@ctavan thanks much, I'm trying to catch one of the svelte devs (@Conduitry) on discord, ask him what he thinks is best i.e. me filling an issue about an outdated `require-relative` that's used in rollup-plugin-svelte

[2020-05-11 17:10] satyendrasingh8 opened #447 "uuid error"
uncaught typeError: (0 , _uuid.default) is not a function

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior:

1. Install '...'
2. Run '....'
3. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Runtime

- OS: [e.g. macOS, Linux]
- Runtime: [e.g. Node.js, Chrome, Safari, reac

[2020-05-11 17:10] satyendrasingh8 commented on #447
uncaught typeError: (0 , _uuid.default) is not a function

[2020-05-11 17:19] LinusU commented on #447
How are you importing uuid?

[2020-05-11 17:46] ctavan commented on #444
@evdama I dug a little bit into it, I think it's a problem directly in the svelte rollup plugin, see https://github.com/sveltejs/rollup-plugin-svelte/issues/104

[2020-05-12 04:29] satyendrasingh8 opened #448 "uuid error"
Uncaught TypeError: (0 , _uuid2.default) is not a function

in version uuid@8.0.0 (WHY gettig this error)

but
 it can be resolve using uuid@3.1.0

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior:

1. Install '...'
2. Run '....'
3. See error

## Expected behavior

A clear and concise description of what you expected to happ

[2020-05-12 04:30] satyendrasingh8 commented on #448
Uncaught TypeError: (0 , _uuid2.default) is not a function

in version uuid@8.0.0 (WHY gettig this error)

but
it can be resolve using uuid@3.1.0

[2020-05-12 06:35] Danny-A commented on #444
It is not only a Svelte Rollup problem.

I upgraded to v8.0.0 in my React Native project and encountered the exact same problem.

[2020-05-12 06:47] ctavan commented on #444
@Danny-A can you specify what you mean by "exact same problem"? Do you get *exactly* the same stack trace? Do you use svelte and `rollup-plugin-svelte` within react-native (is that even possible)?

[2020-05-12 06:48] ctavan commented on #444
@TrySound I think you are more familiar with use cases of requiring `package.json` files from npm modules in bundler pipelines. Is this something that npm modules should generally support? Is this a documented requirement for e.g. rollup?

[2020-05-12 06:49] ctavan commented on #448
Duplicate of #447, please add more information on how you are importing/requiring `uuid` there.

[2020-05-12 06:49] #448 closed

[2020-05-12 06:55] ctavan commented on #437
Looking at the types of bug reports we get in here recently I don't even believe that pushing this into a major version would save us from bug reports, so I think technically the well documented deprecation in https://github.com/uuidjs/uuid/tree/v2.0.1#deprecated-apis should be enough to justify putting this into a minor version update. I'd prefer that over producing yet another major version bump

[2020-05-12 06:59] Danny-A commented on #444
@ctavan Sorry for the lack of context. I get a Warning in RN. I don't get a stack trace and I am not using rollup.

[code]

[2020-05-12 09:11] TrySound commented on #444
There is no any requirements for bundlers because they mostly do not support native node modules. Perhaps package.json should always be in exports list. See here
https://github.com/ai/nanoevents/issues/44#issuecomment-602010343
https://unpkg.com/nanoevents@5.1.6/package.json

[2020-05-13 13:04] ctavan commented on #444
For the time being the warning can simply be ignored for `uuid`, the functionality is not affected!

I think it might make more sense to actually fix this in `react-native` instead of adding this workaround to every single module on npm. If you agree, feel free to give your 👍 for https://github.com/react-native-community/cli/issues/1168

[2020-05-13 14:31] ctavan commented on #448
Please check our documentation: https://github.com/uuidjs/uuid#quickstart

The correct way of importing this library is (assuming you want random/v4 UUIDs):

[code]

[2020-05-13 14:31] ctavan commented on #447
See https://github.com/uuidjs/uuid/issues/448#issuecomment-628028997

[2020-05-13 14:31] #447 closed

[2020-05-13 15:12] satyendrasingh8 commented on #448
You only copy paste from google
But it support for version uuid@3.1.0

On Wed, 13 May 2020, 20:01 Christoph Tavan, <notifications@github.com>
wrote:

[2020-05-13 15:31] satyendrasingh8 commented on #448
[redux-expensify.txt](https://github.com/uuidjs/uuid/files/4622964/redux-expensify.txt)

[2020-05-13 15:59] ctavan commented on #448
I'm not sure what you are trying to tell me. Usage of this library is well-documented in the project's readme: https://github.com/uuidjs/uuid#quickstart

Please simply import the library in the documented way.

[2020-05-14 13:51] Tzahile commented on #245
Hi, I'm using jest to test my project.
Trying to test a file where I import uuid results with an error:
[code]

I saw @dps910 comment and I guess it's something similar.
I'm using UUID@8, node@14 and Jest@26 (and it's freshly-supported esm modules implementation).

Jest command:
`node --experimental-vm-modules .\node_modules\jest\bin\jest.js`
The file that I'm testing imports uuid like you suggest

[2020-05-14 14:07] ctavan opened #451 "ESM Problems with Jest@26 and Node.js 14.x"
Hi, I'm using jest to test my project.
Trying to test a file where I import uuid results with an error:
[code]

I saw @dps910 comment and I guess it's something similar.
I'm using UUID@8, node@14 and Jest@26 (and it's freshly-supported esm modules implementation).

Jest command:
`node --experimental-vm-modules .\node_modules\jest\bin\jest.js`
The file that I'm testing imports uuid like you suggest

[2020-05-14 14:14] TrySound commented on #451
Looks like "exports" is not supported yet.
https://github.com/facebook/jest/issues/9430#issuecomment-623941616

[2020-05-14 14:20] ctavan commented on #451
@Tzahile as pointed out by @TrySound, ESM support in jest is not complete yet. I think you will have to wait for ESM support in jest to be finished before you can use it with this library.

[2020-05-14 17:59] corymcdonald commented on #238
Just ran into this issue on my computer, it was because I was using the newer version of the library than my code was written for.

The original code was
[code]

Newer versions of this library requires it to be
[code]

Hope this helps anyone else searching in the future 👍

[2020-05-15 13:18] SimenB commented on #451
FWIW, tracking issue: https://github.com/facebook/jest/issues/9771

[2020-05-17 19:23] broofa opened #452 "Add cdnjs.com instructions to README"
Looks like support for uuid in CDNJS just landed, See https://github.com/cdnjs/packages/pull/102

Doesn't look like it's been published yet, but once it is we should add it to the relevant section of the README.

[2020-05-18 20:41] ljharb commented on #444
In general, I think it's a good idea for packages to explicitly add `"./package.json": "./package.json"` to their `"exports"` field.

However, unless the ecosystem is consistently willing to do this, tooling will have to determine a different mechanism for accessing package.jsons - something like `findPackageJSONFrom(path.dirname(require.resolve('pkg')))`.

[2020-05-18 21:21] ctavan commented on #444
To rephrase @ljharb's suggestion (assuming Node.js won't change the current behavior, see https://github.com/nodejs/node/issues/33460):

1. Packages that rely on meta information for other tools from their `package.json` must export it.
1. Tools must be able to handle dependencies which don't export `package.json` gracefully (i.e. without crashing).
    * Tools which make use of meta information f

[2020-05-20 00:36] DinDev3 commented on #375
If anyone's still having the issue, here's a workaround...

[code]

It worked for react-native-cli

[2020-05-20 07:08] #444 closed

[2020-05-20 07:10] ctavan commented on #429
@afashaisakiye are you still experiencing this issue? If it is expo-related, we are already tracking this in #375

If you think this is a different issue, then feel free to reopen and add more information.

[2020-05-20 07:10] #429 closed

[2020-05-20 09:21] actuallymentor commented on #375
That invalid javascript and therefore errors.

[2020-05-20 09:33] DinDev3 commented on #375
Yeah, sorry about that. I used it inside a UseState() JSON array. It worked there.

UUID can be assigned to an id there.

[2020-05-20 18:59] ctavan commented on #444
Just release `uuid@8.1.0` which now exports `package.json`, so the problem reported here should be gone for now.

[2020-05-20 19:06] ctavan commented on #408
@judygab are you still experiencing this issue?

[2020-05-21 05:51] judygab commented on #408
Yes, I could not find the solution and ended up not using the module.

[2020-05-21 16:25] mattsains commented on #441
Given that the current node LTS version is 12.16, I'm not sure it's fair to say that 13.6 is "pretty old"

[2020-05-21 17:44] broofa commented on #441
@mattsains It's not old in human time (13.6 was released 2020-01-07) but it's old in the node-release cycle sense.  It's eight minor releases behind the latest v13 release.  It's also old in the overall sense that odd-numbered releases are only supported for six months, and v13 will be [EOL'ed at the end of this month](https://nodejs.org/en/about/releases/).

[2020-05-21 18:09] ctavan commented on #441
What I intended to say was what @broofa explained: you should not expect library authors to support _experimental_ APIs of outdated versions of non-LTS releases of Node.js. If you choose to run on non-LTS then at least make sure to upgrade to the latest available Node.js version before bothering library authors.

[2020-05-23 21:17] victorhcortes commented on #238
The problem with this change is that it has greater weight when required.

[2020-05-23 23:12] TrySound commented on #238
@victorhcortes Not significant in node. Bundlers are able to treeshake unused modules. Though you have to use es modules syntax. Commonjs is not reliable and does not work in a lot of cases.

[2020-05-24 15:55] broofa commented on #238
FTFY.  (... to clarify that CommonJS works fine as a whole.  It's only when it comes to tree-shaking - unused code removal - that it becomes problematic.)

@victorhcortes: As the person responsible for the previous incarnation of `uuid` that allowed for deep imports, I'll just chime in to say this was a much-needed change.  The deep-import solution avoided the need for tree-shaking but was problem

[2020-05-24 16:21] victorhcortes commented on #238
@TrySound By accumulating this cost with other dependencies you will know how heavy it can be.

@broofa I understand the point that was necessary to maintain compatibility and avoid problems.
But if I highlight that the change is much greater.

[2020-05-24 17:09] TrySound commented on #238
Right, I meant this in tree-shaking context.

Yes, I know. This is why the change was considered carefully. There is not cost for bundlers and it's not significant for node as reading from disk even large scripts is fast enough. Memory usage is a problem of script execution not the size.

We have a lot of really bloated libraries like lodash which is used in three forms (`lodash.*`, `lodash/*`, `r

[2020-05-24 17:35] broofa commented on #238
If code size is a primary consideration for people, there are options:
1. Stick with `uuid@3.4` and the deep-import syntax
2. Bite the bullet and convert to ES6 imports and a packager that does tree-shaking.  (Will yield benefits beyond just pruning uuid code!)
3. Use a "one-liner" implementation such as https://stackoverflow.com/a/2117523/109538.  (Not actually recommending this, but if code foot

[2020-05-25 11:21] #437 closed

[2020-05-26 07:02] ctavan commented on #408
Sad to hear this @judygab.

@juhana were you able to solve your issue?

[2020-05-26 07:18] juhana commented on #408
When I tried it last week, it didn't work because of other problems with React Native that are tracked in other issues. But as far as I can tell this specific issue is not a problem anymore.

[2020-05-26 07:48] ctavan commented on #408
Thanks for the update @juhana !

Closing since it doesn't seem to affect active users anymore. Please feel free to open a new issue if anything comes up.

[2020-05-26 07:48] #408 closed

[2020-05-26 07:53] ctavan commented on #452
Reference: https://github.com/cdnjs/packages/issues/179

[2020-05-26 16:25] edgework opened #456 "Version 8.1 won't load using legacy require('uuid/v4')"
For some reason the v4.js ,v3.js etc files were removed  (in 8.x?)  and now code that's worked fine for a long time no longer works because it was written before `const { v4: uuidv4 } = require('uuid');` was a thing and  `require('uuid/v4')`  was the way to do it.     And its not like I can just go though 300+ files in multiple projects and just change it  oh and some of this still needs to run on

[2020-05-26 16:42] LinusU commented on #456
I don't really understand why you would have to go and change it in multiple projects, and that the builds are currently breaking until you do so. When you `npm install` a package it will be saved with a caret (`^`) by default, which will not bring in any breaking changes.

If you are globally pulling in the latest version of your dependencies, then surely you are going to have this problem any ti

[2020-05-26 16:47] edgework commented on #456
uuid was one of those modules that is so simple (supposedly) that  using "*" for the version was thought a good idea to keep it up to date.  No one ever thought for something so simple the method of loading the module would be changed and the old way completely deprecated.

Why is is so important to remove the backwards compatibility file so people don't have to change their code just to be up to

[2020-05-26 20:07] ctavan commented on #456
We are using the https://semver.org/ versioning convention. We take great care to ensure that breaking API changes only occur with major version changes and this is what happens.

The ecosystem evolves and libraries evolve alongside the ecosystem. At the time when this library was initially released [almost a decade ago](https://github.com/uuidjs/uuid/tree/v1.0) ECMAScript modules with [`import/ex

[2020-05-26 20:07] #456 closed

[2020-05-26 22:30] broofa commented on #456
![image](https://i.giphy.com/media/GDnomdqpSHlIs/giphy.webp)

[2020-05-27 07:36] LinusU commented on #456
I would say that this is never a good idea. With the same logic, you could have thought that "the module was so simple so it will never have a breaking change", and thus you could have pinned it at `^1.0.0`...

The fix here is simple, never use `"*"` for your dependencies, as that will introduce the kinds of problem that you posted about. That goes for all dependencies...

[2020-05-27 20:01] #452 closed

[2020-05-29 01:42] alexanderblackh commented on #416
Any update on this? A client app is near completion but I can't use the VS Code debugger nearly at all until this is  solved.

[2020-05-29 07:15] ctavan commented on #416
@alexanderblackh unfortunately I still have a hard time reproducing this issue since I'm not familiar with VS Code. Could you provide more detailed steps to reproduce so that I can try to further investigate the issue? Ideally using https://github.com/ctavan/uuid-example-react-native as a reproduction repo. Thanks!

[2020-05-29 08:28] seralexeev commented on #416
@alexanderblackh As a temporary solution that helped me, you can do this.

[code]

[2020-05-29 11:43] ctavan commented on #416
@alexanderblackh @seralexeev what version of `react-native-get-random-values` are you using?

It looks like the workaround proposed by @seralexeev should already be part of [react-native-get-random-values@1.4.0](https://github.com/LinusU/react-native-get-random-values/releases/tag/v1.4.0).

Could you try it with the latest version of `react-native-get-random-values` and report if that solved the i

[2020-06-01 02:46] jimtendo opened #461 ""main" parameter missing from package.json in V3.4.0 NPM package"
## Describe the bug

The README.md found on npmjs.com (https://www.npmjs.com/package/uuid) suggests that the library can be used as a CommonJS module as follows (as of NPM package version 8.1.0):

[code]

However, on Node v11.10.1 this yields the error:

[code]

It looks like the NPM package.json is missing the "main" field that should point to `/dist/index.js`

## To Reproduce

Steps to reproduce

[2020-06-01 08:14] TrySound commented on #461
Hi, "main" field is not missing
https://unpkg.com/browse/uuid@8.1.0/package.json

Your error looks like the package was not really installed. Please check `./node_modules/uuid/package.json`. Which version do you see?

[2020-06-01 17:59] ctavan commented on #461
1. I cannot reproduce the issue, even with Node.js v11.10.1. Please make sure that the npm package is actually installed by looking at `./node_modules/uuid`. Or try reinstalling them: `rm -rf ./node_modules && npm install`
2. The `v11.x` release of Node.js is outdated and unsupported. This library only officially supports LTS releases of Node.js (v8, v12, v14). Please check https://nodejs.org/en/a

[2020-06-01 17:59] #461 closed

[2020-06-02 08:26] taion commented on #180
Would it be possible to reconsider this? With native ES module support in Node, the "deep" import no longer works at all.

It'd be convenient to have a general-purpose way to convert a Node buffer with the bytes for a UUID into the standard hex representation, and using the `bytesToUuid` here seems like one of the nicer ways to do so.

As a comparison, the `UUID` type in the Python standard librar

[2020-06-02 08:29] taion commented on #180
The absence of an exposed `bytesToUuid` method might tempt one to use `uuidv4({ random: ... })`, which ... can then break subtly when that function is given, say, a UUIDv5, and lead to hard-to-diagnose bugs.

[2020-06-02 08:45] ctavan commented on #180
We're currently considering to extend the API surface of this library (https://github.com/uuidjs/uuid/pull/455#issuecomment-634721504), thank you for bringing up that use case.

We'll definitely discuss this!

[2020-06-02 09:18] picozzimichele commented on #245
Had the same issue, this worked in fixing the import:

Import correct version (v1-4)

`import {v4 as uuid} from "uuid"`

use now the function

`uuid()`

[2020-06-02 13:22] alexanderblackh commented on #416
@seralexeev @ctavan Sorry for delay in response.

Tried both of those solutions in the RN app, not only is it not working, but it seems this isn't working in the Release build period, any page using it crashes outright. Import and censored usage is as follows:

[code]

[2020-06-03 14:23] ctavan commented on #416
@alexanderblackh did you try the manual workaround described here: https://github.com/uuidjs/uuid/issues/416#issuecomment-635844939 ? Something like:

[code]

[2020-06-06 10:05] kryz81 commented on #245
This compiled to typescript doesn't work:

[code]

I had to downgrade to v7

[2020-06-06 11:30] ctavan opened #466 "pkg.exports broken in typescript"
This compiled to typescript doesn't work:

[code]

Error:
`Error: Package exports for '........ /node_modules/uuid' do not define a valid '.' target`

I had to downgrade to v7

_Originally posted by @kryz81 in https://github.com/uuidjs/uuid/issues/245#issuecomment-640027851_

[2020-06-06 11:30] ctavan commented on #466
@kryz81 what typescript version and config are you using?

[2020-06-06 18:03] kryz81 commented on #466
@ctavan

Typescript 3.8.3

Config:

{
  "compilerOptions": {
    "module": "commonjs",
    "declaration": true,
    "removeComments": true,
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "target": "es2017",
    "sourceMap": true,
    "outDir": "./dist",
    "baseUrl": "./",
    "incremental": true
  },
  "exclude": ["node_modules", "dist"]
}

[2020-06-06 23:27] ryanprince commented on #466
I may be running into this issue as well. I'm using uuid as a CommonJS module with Node.js, and I installed it using `npm install --save uuid`. I'm seeing this error when I run my project.

[code]

[2020-06-06 23:31] TrySound commented on #466
@ryanprince  Node 13 is unstable version and not supported. But technically you have very old one. The latest 13.x works as expected.

[2020-06-06 23:33] ryanprince commented on #466
Okay, thanks for your help!

[2020-06-08 12:25] ctavan commented on #466
@kryz81 this is strange, I cannot reproduce the issue. Would you mind checking out https://github.com/ctavan/uuid-example-typescript and comparing that to your code? I copy & pasted your `tsconfig.json`.

Works well for me™:

[code]

[2020-06-09 07:30] kryz81 commented on #466
@ctavan

With your repo I got the same error using Node 13.x. But when I switched to Node 14.x the error disappeared!

With Node 12.x it works too... 🤔

[2020-06-09 08:02] TrySound commented on #466
I guess it's the same problem with very old node 13. Check node v13.14 please.

[2020-06-09 08:41] ctavan commented on #466
This library only officially supports LTS releases of Node.js (v8, v12, v14).

At this point I would _not_ suggest to stick to Node.js `v13.x` because it already reached end-of-life. Instead upgrade to `v14`. Please check https://nodejs.org/en/about/releases/ for details on Node.js versioning semantics.

[2020-06-09 08:41] #466 closed

[2020-06-09 09:19] dmnsgn commented on #444
Hi @ctavan ,

I am seeing the same error using the latest version `8.1.0` but for the v4 exports:
[code]

[2020-06-09 09:22] ctavan commented on #444
This is a different issue, support for deep imports has been deprecated in `7.0.0` and removed in `8.0.0`: https://github.com/uuidjs/uuid#deep-requires-no-longer-supported

[2020-06-09 09:33] dmnsgn commented on #444
Strange 🤔  I am using it as follow `const { v1: uuid } = require('uuid')` (so not deep required).

[2020-06-09 09:37] dmnsgn commented on #444
The node_modules folder containing the node program I am launching is not at the root of the package (nested a few level below) so maybe another dependency with an older version of uuid is required instead. But I would expect the require call to resolve to the closest node_modules/uuid so not sure.

[2020-06-09 09:40] dmnsgn commented on #444
Also manually deleting:
[code]

in the deeply nested node_modules/uuid/package.json seems to make it work.

[2020-06-09 09:40] TrySound commented on #444
Perhaps some of modules does not list uuid in dependencies and uses the wrong one.

[2020-06-09 10:00] ctavan commented on #444
Yes, it looks like one of your dependencies uses `uuid` and either specifies a wrong dependency version range or does not specify `uuid` as a dependency at all. Consequently, as @TrySound notes, it tries to load the wrong version of `uuid`.

You could find the affected package by performing a search for the string `uuid/v4` in the entire `node_modules` subtree, maybe you can identify the package t

[2020-06-09 13:19] oneserve commented on #466
We have experienced similar issues within our angular/ionic application.
We have updated node to v14.4.0, and this is still not working.

The config we use is
``

[2020-06-10 08:50] dmnsgn commented on #444
Thanks for the pointers. The problem is actually with npm/lerna where one package didn't get it's (newer) version of uuid installed locally and was using a (probably) deduped one in the parent node_modules folder coming from an older package. Quite a specific use case, nothing wrong with uuid 👍

[2020-06-10 11:14] antoniandre commented on #428
Hi, is this resolved?
I get the same error trying to install a new package, on node version 14.4.0 and npm version 6.14.5 (latests).
https://github.com/release-it/release-it/issues/674

[2020-06-10 11:59] ctavan commented on #428
See https://github.com/release-it/release-it/issues/674#issuecomment-641955575

[2020-06-11 13:11] ctavan commented on #466
@oneserve what's the exact error message you are seeing?

I've pushed an update to https://github.com/ctavan/uuid-example-typescript with the config you are mentioning and it all works just fine on my machine (Node.js `v14.4.0`).

What happens if you clone that repo and run:

[code]

?

[2020-06-12 08:13] manast-apsis opened #467 "Will CVE-2020-0543 affect performance of v4() ?"
## Is your feature request related to a problem? Please describe.

It has been disclosed a vulnerability that allows the attacker catch encryption keys. The fix to the vulnerability will affect the performance of RANDOM related CPU instructions down to 3% of their original performance.

Would this in turn affect uuid generation of v4 which relies on ramdom numbers?

## Additional context

More inf

[2020-06-12 13:59] ctavan commented on #467
This library relies on [`crypto.randomFillSync()`](https://nodejs.org/api/crypto.html#crypto_crypto_randomfillsync_buffer_offset_size) in Node.js and [`Crypto.getRandomValues()`](https://developer.mozilla.org/de/docs/Web/API/Crypto/getRandomValues) in browser environments.

To find out if the attack and it's mitigation affect these runtimes you'd have to dig into those projects.

I believe that th

[2020-06-12 13:59] #467 closed

[2020-06-13 16:14] rwieruch commented on #375
Using `"uuid": "^3.0.0"` fixed this for me... But I guess this isn't the desired solution.

[2020-06-13 19:05] ctavan commented on #375
Let’s call this a workaround at best 😉

Please read https://github.com/uuidjs/uuid/issues/375#issuecomment-618845223 and give your 👍 at https://github.com/expo/expo/issues/7209

[2020-06-18 07:38] ctavan opened #469 "Drop IE11 support"
I believe we should drop IE11 support with the next major release. This would allow us to produce much more modern bundles.

As of June 2020 IE11 market share is only 1.4% according to https://gs.statcounter.com/

Users who really need to support IE11 would still be able to transpile our bundles or add required polyfills.

As part of this we can remove `output.ecmaVersion: 5` from the webpack conf

[2020-06-18 23:37] broofa commented on #469
... or pin their dependency to  `uuid@v3.4.0`

[2020-06-19 23:55] osvald0 commented on #416
Are there any news about this issue?

[2020-06-22 04:55] Shahaed opened #470 "Add types"
Add types for this package. Simple type definition already exists: https://www.npmjs.com/package/@types/uuid. Incorporating it into this repo would be really helpful.

[2020-06-22 11:07] ctavan commented on #470
This has been discussed in the past but as long as this library is written in JavaScript we're going to continue to publish the types as a separate package, see https://github.com/uuidjs/uuid/issues/368#issuecomment-587330334

In fact the maintainers of `uuid` are maintaining `@types/uuid` as well!

[2020-06-22 11:07] #470 closed

[2020-06-22 15:38] Shahaed commented on #470
Most other popular npm packages include types in the same package and saves typescript users from having to import 2 packages. Also makes maintenance easier.

My vote would be including types in the same package, but it's y'all decision.

[2020-06-22 17:24] ctavan commented on #470
Feel free to raise this issue over at TypeScript. If TypeScript decides to change their recommendations, I'll be happy to follow whatever the official recommendations are.

[2020-06-23 14:38] ctavan commented on #416
No news, but I also don't know how to reproduce this issue. If anyone can provide a reproduction case and exact steps to reproduce I'm happy to have a look.

[2020-06-24 02:05] jonathanrfisher1 commented on #442
I had similar issue and reverted to 7.0.3 and it went away.  I had this error message:

`internal/modules/cjs/loader.js:491
2020-06-24T02:01:26.104483+00:00 app[web.1]: throw new ERR_PACKAGE_PATH_NOT_EXPORTED(basePath, mappingKey);
2020-06-24T02:01:26.104484+00:00 app[web.1]: ^
2020-06-24T02:01:26.104484+00:00 app[web.1]:
2020-06-24T02:01:26.104484+00:00 app[web.1]: Error [ERR_PACKAGE_PATH_NOT_EXP

[2020-06-24 02:07] jonathanrfisher1 commented on #442
Here is my usage:

const uuid = require('uuid/v4');
id: uuid()

node --version
v10.16.0

[2020-06-24 08:20] TrySound commented on #442
@jonathanrfisher1 See changelog. `uuid/v4` support was removed.
https://github.com/uuidjs/uuid/blob/master/CHANGELOG.md#800-2020-04-29

[2020-06-24 10:29] jiawei686 commented on #375
Excuse me. I've also met this problem in my RN project, is there another way to fix it instead of installing "react-native-get-random-values" because it needs iOS/android developer to help and publish, thx!

[2020-06-24 12:09] ctavan commented on #375
@jiawei686 please read https://github.com/uuidjs/uuid/issues/375#issuecomment-643664712

[2020-06-24 16:43] jonathanrfisher1 commented on #442
Thank you! =)

[2020-06-26 14:56] osvald0 commented on #416
I’ve updated my project to the last react and react-native version and everything works fine now.

[2020-06-26 18:41] ali92hm opened #475 "Support nil or empty uuid"
## Is your feature request related to a problem? Please describe.

I wanted to go ahead and make a PR for adding nil uuid which is a special case. Before doing the work, I just wanted to double check to see if this has been considered before or there are any objections to it.

You can read more about nil uuid [https://en.wikipedia.org/wiki/Universally_unique_identifier#Nil_UUID](https://en.wikiped

[2020-06-27 16:45] edolix commented on #416
@ctavan I've tried now the following steps to test and got the error:

Creates a new fresh app and install `uuid`.

[code]

In App.tsx i printed some `uuidv4()` using

[code]

Running the app on Android device: `crypto.getRandomValues() not supported`.

My dependencies:

[code]

Thanks!

[2020-06-27 18:19] ctavan commented on #416
@edolix you need a polyfill, did you follow https://github.com/uuidjs/uuid#react-native ?

@osvald0 great to hear!

@joebernard  does upgrading to latest `react-native`, `uuid` and `react-native-get-random-values` solve the original problem for you as well?

[2020-06-28 16:26] joebernard commented on #416
@ctavan Unfortunately I still have this issue.

[code]

[2020-06-28 19:22] ctavan commented on #416
That's sad to hear. Could you give me the exact steps to reproduce to activate debug mode, @joebernard? I'm not a react-native pro, sorry!

[2020-06-28 20:25] Slapbox commented on #416
@joebernard do you get the error with _and_ without debugging mode on? React Native is weird as hell sometimes with stuff like that, so asking for completeness' sake since at least one person now has it working.

Also, what OS? And a physical or virtual device?

[2020-06-29 18:46] joebernard commented on #416
@ctavan @Slapbox I was missing `import 'react-native-get-random-values';` in index.js. It works now, thanks for the help. I will close this issue.

[2020-06-29 18:46] #416 closed

[2020-07-07 19:27] fzxt commented on #469
I recently saw some issues in IE11 browsers w.r.t trailing commas. Specifically with the `node_modules/uuid/v4.js` module. Not sure if anyone else has experienced this recently / can comment on this.

[2020-07-08 07:54] ctavan commented on #469
@fzxt can you provide more details? This is definitely not expected: First of all, the most recent version of this library doesn't even expose a `node_modules/uuid/v4.js` module, second we make sure to transpile the browser-targeted code to work well with IE11.

[2020-07-09 19:03] amhinson commented on #416
Also, don't forget to link `react-native-get-random-values` like I did :)

[2020-07-09 19:23] Slapbox commented on #416
I hope the Expo team is planning to link `react-native-get-random-values` if it's not already.

[2020-07-09 19:26] amhinson commented on #416
Good callout! cc @brentvatne

[2020-07-09 20:22] ctavan commented on #416
Unfortunately no progress so far, but feel free to give your 👍 to https://github.com/expo/expo/issues/7209 @amhinson @Slapbox @benjreinhart

[2020-07-11 17:17] alexanderblackh commented on #416
Sorry for the disappearing act.

Can't speak about Expo, but in vanilla React Native, I got it working again after making various other changes and then it just started working fully, including in release builds. If you get this error, I'm pretty sure it's a result of something else breaking and it causing havoc throughout the app, but I can't confirm. If I get it again, I'll report back with vast

[2020-07-13 13:17] ctavan commented on #475
@ali92hm sorry for the slow response time. Could you elaborate a bit more on the use cases of `nil` UUIDs? I'm totally aware that they exist, but I'm not really aware of any use cases.

We are currently extending the API of this library a bit anyways ([adding validation and parsing](https://github.com/uuidjs/uuid/tree/v9)), so adding `nil` UUIDs for the sake of completeness might be an option. I'd

[2020-07-13 19:21] broofa commented on #475
See also #236

1. The `validate()` and `version()` methods added in this (v9) branch already work with nil uuids.  No change needed there.
2. Use of the nil UUID is an antipattern, and we should not be promoting it's use by exposing it in this API

My rational for that latter argument is simple:  Anywhere you would need to use the nil UUID, there are better, more generalized `nil`/`null`/`NULL`/`N

[2020-07-13 22:24] ali92hm commented on #475
I'd leave it up to you, but @broofa I agree with the generalized `nil`/`null`/`NULL`/`None` being better than using the nil UUID.

Our use case was having a PG db column where the type is set to UUID and have it non-nullable (because we have very small percentage of the values occasionally being nil) which doesn't make sense to make the full column nullable and potentially deal with missing data.

[2020-07-14 08:28] ortonomy commented on #416
I got this error today and I could only get it working by manually running `npx react-native link` --- is there something borked in the autolinking of one of these libs?

[2020-07-14 08:52] ctavan commented on #416
@ortonomy I believe this is something that would rather belong to https://github.com/LinusU/react-native-get-random-values since the `uuid` library doesn't do any react-native specific stuff. Would you mind opening an issue over there?

[2020-07-14 18:43] broofa commented on #475
What's the benefit here?  Does this help DB performance?

[2020-07-14 18:49] broofa commented on #475
I guess I'd be okay adding this.  At the end of the day, we're talking about one line of code for the `NIL` or `NIL_UUID` constant (which can be removed with tree-shaking).  Maybe document it with a note about preferring the use of native constructs for null values, though.

[2020-07-14 21:57] ali92hm commented on #475
Haha, I understand the curiosity part and as I mentioned I'm on the fence about which solution is better. I.e. have the column to be nullable and have null values for missing one or have the column to be  non-nullable and have nil uuid for the missing ones.

In most of our tables we have the column marked as nullable, but for this table the null values are truly the edge case and not the norm (the

[2020-07-16 08:22] ortonomy commented on #416
@ctavan -- for sure, I'd be happy to do it. It's starting to become an annoyance.

[2020-07-17 11:46] IsaiahJTurner opened #478 "Reopened discussion: parse/unparse uuid"
In the past, requests for the ability to parse/unparse UUIDs have been closed with a referral to https://www.npmjs.com/package/uuid-parse

I am aware and agree that this use case is relatively uncommon when compared to the overall use of UUIDs. However, this module is now archived with a notice that "This module is no longer maintained"

It is not even possible to file an issue or view issues on t

[2020-07-17 12:01] IsaiahJTurner commented on #475
I don't have any opinions on this feature but just saw the issue and wanted to share a nil uuid use case from: https://developer.apple.com/documentation/adsupport/asidentifiermanager/1614151-advertisingidentifier

So, there are a lot of client's which do conditional logic on the backend to handle it. Why Apple does this perplexes me but they do.

[2020-07-17 12:25] ctavan commented on #478
@IsaiahJTurner thanks for raising this issue. We have in fact already added parsing and validation in the `v9` branch of this module: https://github.com/uuidjs/uuid/tree/v9

I can try to put a pre-release out so you can try it out.

[2020-07-17 12:47] ctavan commented on #478
@broofa so far, it doesn't look like the `v9` branch contains any breaking changes: https://github.com/uuidjs/uuid/compare/v9

I only see the addition of parse and validate methods.

Am I missing something? If not we could just release that as `8.2.0` (maybe a `-beta` prerelease first)? WDYT?

[2020-07-17 15:14] xenoterracide opened #480 "isUuid"
I have a use case where I need to detect if something is a UUID or some other string, I know this is just a regex, but would be cool if this package just provided this.

[2020-07-17 15:27] xenoterracide opened #481 "toBytes"
we have need for decoding the standard uuid format to just the bytes, the reason for this is we want to re-encode as url encoded base64 to shorten our urls. note, if you wanted to provide a function for that as well... use something like

`base64( toBytes( uuidv4() ) )`

also an inverse

`fromBytes`

[2020-07-17 19:41] ctavan commented on #481
We'll release this soon, see #479

[2020-07-19 06:05] rashidvali opened #482 "UUID reference error"
## Describe the bug

Whe I run my app in a browser it throws "Uncaught ReferenceError: require is not defined", complaining to: Object.crypto (external "crypto":1)

## To Reproduce

Steps to reproduce the behavior:

1. Install 'npm install uuid'
2. Run ' // In  my module I import it:
import { v4 as uuid4 } from 'uuid';
....
// and then call the function
let id: string = uuid4();
'
3. See error: //

[2020-07-19 06:30] ctavan commented on #482
What webpack version and confit are you using? Please provide everything that is required to reproduce the issue.

[2020-07-19 15:02] rashidvali commented on #482
webpack v.4.43.0

[2020-07-19 15:03] rashidvali commented on #482
I have the following in the package.json:

  "devDependencies": {
    "@types/lodash": "^4.14.107",
    "ts-loader": "^8.0.1",
    "typescript": "^3.9.7",
    "typings-for-css-modules-loader": "^1.7.0",
    "webpack": "^4.43.0",
    "webpack-cli": "^3.3.12",
    "webpack-dev-server": "^3.11.0",
    "@types/uuid": "^8.0.0"
  },

[2020-07-19 15:04] rashidvali commented on #482
and

  "dependencies": {
    "@types/node": "^14.0.23",
    "css-loader": "^1.0.0",
    "node-sass": "^4.14.1",
    "sass-loader": "^7.1.0",
    "style-loader": "^0.23.1",
    "uuid": "^8.2.0"
  }

[2020-07-19 17:06] rashidvali commented on #482
It looks like not UUID package own problem. That is Node.js crypto (node_modules/crypto-browserify) problem. I am getting the same error when I call crypto methods.

[2020-07-20 08:43] neekey opened #483 "Uint8Array is undefined in IE9"
## Describe the bug

when using UUID in IE9 it throws Error of "Uint8Array is undefined in IE9"

## To Reproduce

Simply just import uuid in ie9

## Expected behavior

A clear and concise description of what you expected to happen.

## Runtime

- UUID version: 8.2
- OS: windows
- Runtime: IE9
- Runtime Version: 9

[2020-07-20 08:47] ctavan commented on #483
[As stated in the readme we do not support IE < 11.](https://github.com/uuidjs/uuid#uuid--)

If you want to use this library with ancient browser versions you will have to provide your own polyfills.

[2020-07-20 08:47] #483 closed

[2020-07-20 08:51] ctavan commented on #483
And just out of curiosity: Do you seriously need to support IE9 or was this a joke? [MS support for IE <= 10 ended
 1/12/16](https://www.microsoft.com/en-us/microsoft-365/windows/end-of-ie-support) so using IE versions _this old_ should be considered a security risk on its own.

[2020-07-20 08:55] ctavan commented on #482
Something seems off with your webpack config. Are you building for Node.js or for the Browser? For browser environments, webpack should pick up the _browser build_ of this library, which has no dependency to the Node.js crypto API. Instead, webpack seems to be trying to pull in the browserify crypto API polyfill, which is totally not what should happen.

Please have a look at https://github.com/uu

[2020-07-20 08:56] ctavan commented on #482
Please feel free to re-open if you believe that this is a problem with this library rather than with your specific webpack setup.

[2020-07-20 08:56] #482 closed

[2020-07-20 09:04] neekey commented on #483
Fair enough! It’s more a requirement from a client, I guess will try add a
poly fill myself thanks!

On Mon, 20 Jul 2020 at 6:51 pm, Christoph Tavan <notifications@github.com>
wrote:

--
发自移动版 Gmail

[2020-07-20 16:35] rashidvali commented on #482
Is there any other way of installing uuid aside of 'npm install uuid'? How installation for the browser environment is different from an installation for node? And I don't see anything wrong in my webpack.

[2020-07-20 18:49] ctavan commented on #482
It's not about how you install `uuid` through npm, it's about what files webpack will pick up. This is controlled by the webpack config [`resolve.mainFields`](https://v4.webpack.js.org/configuration/resolve/#resolvemainfields). For a browser build, webpack _should_ pick up a browser-specific build that is included in the `uuid` npm package. However judging from your error output, webpack instead p

[2020-07-20 19:02] rashidvali commented on #482
here is my webpack, could it help?:

const path = require('path');
const webpack = require('webpack');

module.exports = {
    entry: "./src/init.ts",
    mode: 'development',
    devtool: "source-map",
    // devtool: 'inline-source-map',
    module: {
        rules: [
            {
                test: /\.ts?$/,
                 use: 'ts-loader',
                exclude: /node_modules/,

[2020-07-20 23:21] fzxt commented on #469
@ctavan just to close the loop on this, we were indeed on some old version and the errors were due to some custom setup. Sorry to necro / distract on this issue.

[2020-07-21 11:15] ctavan opened #485 "Add browser tests for stringify/parse/validate features."
They are still missing from https://github.com/uuidjs/uuid/pull/479

[2020-07-21 11:27] ctavan commented on #482
Hmm, it does have `target: "node"`, so it's correct that webpack pulls in the node build of `uuid`. I still don't understand why webpack tries to load the `crypto-browserify` polyfill.

I think this is rather a topic for the webpack issue tracker, I'm sorry.

[2020-07-21 18:01] awwit opened #487 "Need a static error codes for their identification"
When throwing an exception, we need short and unchanging error codes. To be able to accurately identify the error without resorting to parsing the error message.

for example:

[code]

[2020-07-22 10:53] ali-heidari opened #488 "SyntaxError: Unexpected token 'export'"
## Describe the bug

It seems there is a problem with exporting different versions inside of uuid. My project is using uuidv4 which is using uuid.

## To Reproduce

Steps to reproduce the behavior:

1. Install 'uuidv4'
2. Run project (commonJs style)
3. See error

## Expected behavior

Expected to run without problem.

## Runtime

- OS: Win10
- Runtime: Node.js
- Runtime Version: 14.3.0

## Additi

[2020-07-22 11:12] TrySound commented on #488
This point is not clear. Is it node project or some bundler, which bundler?

[2020-07-22 13:40] broofa commented on #487
I'm going to argue we *not* do this.

`code` isn't a standard `Error` property, it's merely a node.js convention and (I suspect) not particularly well adopted outside of the core node.js codebase.  While it does make identifying `Error`s easier... so what?   JS devs are used to dealing with Errors that don't have codes.  Prior to this issue, nobody has asked for them.  Thus, the utility does not s

[2020-07-22 20:32] #475 closed

[2020-07-22 20:32] #478 closed

[2020-07-22 20:32] #480 closed

[2020-07-22 20:32] #481 closed

[2020-07-22 21:39] #485 closed

[2020-07-22 22:30] ctavan commented on #480
@xenoterracide we have just released `uuid@8.3.0-beta.0` which includes https://github.com/uuidjs/uuid#uuidvalidatestr would you mind testing it and report if that works for you?

[2020-07-22 22:30] ctavan commented on #478
@IsaiahJTurner we have just released `uuid@8.3.0-beta.0` which includes https://github.com/uuidjs/uuid#uuidparsestr and https://github.com/uuidjs/uuid#uuidstringifyarr-offset would you mind testing it and report if that works for you?

[2020-07-22 22:30] ctavan commented on #475
@ali92hm @IsaiahJTurner we have just released `uuid@8.3.0-beta.0` which includes https://github.com/uuidjs/uuid#uuidnil would you mind testing it and report if that works for you?

[2020-07-22 22:30] ctavan commented on #481
@xenoterracide we have just released `uuid@8.3.0-beta.0` which includes https://github.com/uuidjs/uuid#uuidparsestr would you mind testing it and report if that works for you?

[2020-07-22 22:32] ctavan commented on #180
@wesleytodd @taion we have just released `uuid@8.3.0-beta.0` which includes https://github.com/uuidjs/uuid#uuidstringifyarr-offset would you mind testing it and report if that works for you?

[2020-07-22 22:33] ctavan commented on #180
Added in #479

[2020-07-23 04:00] ali-heidari commented on #488
It is node project... I guess it happens because of my node written in commonJs and uuid is es6!

[2020-07-23 06:56] TrySound commented on #488
Nope. UUID is distributed as commonjs by default.
https://unpkg.com/browse/uuid@8.2.0/dist/index.js

How do you import uuid? And provide please minimal reproduction.

[2020-07-23 07:38] ali-heidari commented on #488
But my console shows an error

[code]

which pointed to this file:

[code]

What am i missing here?

[2020-07-23 07:50] TrySound commented on #488
Show how do you import uuid, give us a reproduction.

[2020-07-23 07:57] ali-heidari commented on #488
This is how i import:
[code]

[2020-07-23 08:08] TrySound commented on #488
This package?
https://www.npmjs.com/package/uuidv4

[2020-07-23 08:08] TrySound commented on #488
The wrong one. Please read documentation.

[2020-07-23 08:12] TrySound commented on #488
I see. This package is the dependency of your one. Could you switch to using `uuid` package directly?

[2020-07-23 19:38] taion commented on #180
Passes our test suite. I'll deploy shortly, but I don't expect any problems. Will let you know if anything comes up, but assume it's working fine for us unless you hear otherwise.

[2020-07-23 19:38] awwit commented on #487
@broofa you probably misunderstood me.
I would like to have error codes only for those exceptions that you throw yourself.

This does not require an operator `...`. You just need to add error codes.

It doesn't matter that the `err.code` is not standardized. It is much more important that the error code is a needful and useful property.

How could it be otherwise?
How do you suggest to handle the

[2020-07-23 21:56] broofa commented on #487
I think I do... I'm just not convinced differentiating  between errors at this level is a real problem for users of this module.

Please give me some real-world examples of why this is necessary and convince me otherwise.

The same as exceptions from any of the other 100,000's of modules that don't provide `.code`s.

[2020-07-23 22:10] awwit commented on #487
@broofa hmm you are right.

I looked at the source code of the library again and saw that at most one exception is thrown in each individual function.

So I close the issue =)

[2020-07-23 22:10] #487 closed

[2020-07-24 14:51] Kmaschta opened #494 "Documented "validate" function not available"
## Describe the bug

The `uuid.validate` function is documented on the README, but is not available on the latest versions of the package.

## To Reproduce

Steps to reproduce the behavior:

1. Install `uuid@8.2.0`
2. Run `import { validate } from 'uuid'`
3. See error `Attempted import error: 'validate' is not exported from 'uuid' (imported as 'validate').`

## Expected behavior

I would like to v

[2020-07-24 14:54] TrySound commented on #494
It's in beta
https://unpkg.com/browse/uuid@8.3.0-beta.0/

[2020-07-24 16:21] ctavan commented on #494
If you could try out the beta and report it it works for you that would be awesome! Will release once we have received some positive feedback.

[2020-07-27 03:06] ali92hm commented on #475
Yes, I was able to make the following work
[code]

[2020-07-27 08:38] Kmaschta commented on #494
So, I've used the beta version in my app to validate the UUID, thanks for your answers, and sorry for my impatience!
I'll definitely share my feedback as soon as this reach the production :)

[2020-07-27 08:38] #494 closed

[2020-07-27 09:23] ctavan opened #496 "Consolidate environment-specific API surface tests"
## Is your feature request related to a problem? Please describe.

See: #495

## Describe the solution you'd like

We should consolidate the environment-specific API tests that currently implicitly live inside the `examples/` directory.

[2020-07-27 15:40] ctavan opened #497 "Allow passing a buffer into `uuid.parse`?"
## Is your feature request related to a problem? Please describe.

Currently our `vX` methods allow passing an input buffer and an offset as second/third parameter. The `parse` method on the other hand always creates and returns a `new Uint8Array(16)`.

This adds a slight inconsistency since for the buffer cases so far it was always possible to define & hand in the buffer on your own.

## Describe

[2020-07-27 18:39] broofa commented on #497
Agreed.  Wait until someone complains.

Note: The ability for users to pass buffers and offsets into these methods was something I added early-on when I was obsessing over performance.  But as I've mentioned, I'm less concerned with performance and I'm of the opinion that may have been a mistake.  It unnecessarily complicates the UI for what I suspect is a very narrow edge case.

tl;dr: I actually

[2020-07-27 18:41] broofa commented on #180
Closing.  @taion, please comment here if you have any issues and we'll reopen, or just open a new issue.  Thanks for the input!

[2020-07-27 18:41] #180 closed

[2020-07-27 18:54] ctavan commented on #497
OK, then let's close this until it is brought up again.

I also tend to agree w.r.t. removing the `buffer` parameter, but I think it would make sense to analyze real-world usage of this library (e.g. similar to [the analysis I did in the uuid-proposal](https://github.com/tc39/proposal-uuid/tree/master/analysis)).

[2020-07-27 18:54] #497 closed

[2020-07-27 19:09] ctavan commented on #475
We have just released `uuid@8.3.0` which should fix this issue. Please report back if there any problems.

[2020-07-27 19:09] ctavan commented on #478
We have just released `uuid@8.3.0` which should fix this issue. Please report back if there any problems.

[2020-07-27 19:09] ctavan commented on #480
We have just released `uuid@8.3.0` which should fix this issue. Please report back if there any problems.

[2020-07-27 19:10] ctavan commented on #481
We have just released `uuid@8.3.0` which should fix this issue. Please report back if there any problems.

[2020-07-27 19:10] ctavan commented on #180
We have just released `uuid@8.3.0` which should fix this issue. Please report back if there any problems.

[2020-07-27 19:11] ctavan commented on #488
Closing since this seems to be related to a reverse dependency of this package. Please open a bug report in the appropriate issue tracker if the problem persists: https://github.com/thenativeweb/uuidv4/

[2020-07-27 19:11] #488 closed

[2020-07-27 19:13] taion commented on #180
Thanks!

[2020-07-27 20:11] ali92hm commented on #475
Sill works, thank you!

[2020-07-28 08:49] goloroden opened #498 "Provide regular expressions and JSON schemas for UUIDs"
Hi 👋

I'm one of the authors of the [uuidv4](https://www.npmjs.com/package/uuidv4) module.

With the new 8.3 version of `uuid` there is almost everything there that is needed from our POV, and we are planning to deprecate `uuidv4` in favor of this module.

However, there are two very small things missing, before we can do this:

First, it would be awesome to have regular expressions for UUIDs.
In

[2020-07-28 09:01] ctavan commented on #498
Thank you for coming back here @goloroden! We're definitely interested in covering your use cases in order to reduce the number of `uuid` libraries in the JS ecosystem.

To make progress here I would like to understand your use cases for the above two features a bit better.

Regarding the regexes: Applying e.g. the `v4` regex would be more or less equivalent to the following code:

[code]

If you

[2020-07-28 12:14] goloroden commented on #498
Hey @ctavan 😊

Regarding regular expressions, I can provide an example of where we use them: In a solution for one of our customers we have an admin CLI which can be used to add, edit, and delete entities from the command-line. To identify these entities, you have to provide their ID (which, obviously, is a UUID). To provide these IDs there are two options: The user can use a flag, or enter them i

[2020-07-28 12:41] ctavan commented on #498
Thanks for the explanation. I understand that providing regex(es) comes in handy for interop with validation libraries.

@broofa do you see any drawbacks of exposing the regexes (apart from the fact that we'd have to expose different regexps for the different versions, which we don't have internally yet)?

Regarding JSON schema I'm still reluctant. If we add something that framework/technology spe

[2020-07-28 17:09] broofa commented on #498
This sounds like the [pattern attribute](https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/pattern).  I've mentioned this [previously](https://github.com/uuidjs/uuid/pull/455#issuecomment-634721504) as a possible rationale for exposing [the regex](https://github.com/uuidjs/uuid/blob/master/src/regex.js) we currently use for `validate()`.

However, as I think this issue shows, the proble

[2020-07-28 17:15] broofa commented on #498
Regarding schemas, I agree with @ctavan.  Not a business we should be in.  Also suffers from the same permutation issues as regexs.  Also, JSON-Schema [now supports](https://json-schema.org/draft/2019-09/release-notes.html#format-vocabulary) the `uuid` type (Not specific versions, however, but that does suggest the incremental value of providing schemas here is pretty low.)

[2020-07-28 19:36] stupidkitty opened #499 "Dependency requirements bullshit"
Are you crazy?

Got an error: _crypto.getRandomValues() not supported. See https://github.com/uuidjs/uuid#getrandomvalues-not-supported_

After studying the code, I discovered incredible! Recommended polyfill requires React-native installation. WTF?

[2020-07-28 19:54] TrySound commented on #499
Read carefully again. First cases describes how to solve the problem in react-native, the second in web workers. If you have the problem with another environment. Please open an issue with full description. We will not help if you are rude.
![image](https://user-images.githubusercontent.com/5635476/88714250-3025cc00-d125-11ea-80ff-d3e3624ecb1c.png)

[2020-07-28 19:54] #499 closed

[2020-07-28 22:32] broofa commented on #499
# We will not help if you are rude.

FTFY.

[2020-07-29 08:01] ctavan commented on #498
@goloroden does the built-in JSON-Schema support for uuid, that @broofa linked to, solve the JSON schema part of things for you?

[2020-07-29 12:07] Kmaschta commented on #494
Here's more news from me :)
We used the `8.3.0-beta.0` version on production, and it's going fine !
Looking forward to upgrade as soon as it reaches the final release

[2020-07-29 12:09] TrySound commented on #494
It did https://github.com/uuidjs/uuid/releases/tag/v8.3.0

[2020-07-29 12:28] goloroden commented on #498
@ctavan Theoretically it would, if the JSON schema validator we're using did support this… 🙄

However, this should not be *your* problem, this is *our* problem.
So yes, I could live without the JSON schema thing.

However, the regular expression would still be useful.
But I understand why you don't want to do this (although I could think of a function here which returns the regex according to your

[2020-07-29 13:14] ctavan commented on #498
Cool!

You are totally right, the `validate` function as it stands has the same flaws as exposing the underlying regex would have… Maybe we should provide a separate package with just various UUID regexps? On the other hand people might also argue that you can just copy & paste the regex you need instead of adding an npm dependency for that. After all once you have the correct regexp, it won't cha

[2020-07-29 16:45] broofa commented on #498
@goloroden Out of curiousity, which validator are you using?  I know  `AJV` supports `format: 'uuid'`.

[2020-07-29 16:56] goloroden commented on #498
@broofa We used `ajv` historically, but it is *huge* (which makes it a bad use case for the frontend), and its error messages are… well, they could better 😉

Hence we switched to [jjv](https://www.npmjs.com/package/jjv), which is way smaller (compare https://bundlephobia.com/result?p=ajv@6.12.3 to https://bundlephobia.com/result?p=jjv@1.0.2), and which produces – when combined with [jjve](https://

[2020-07-30 02:23] RezaRahmati opened #500 "Getting `TypeError: Stringified UUID is invalid` error"
## Describe the bug
I used uuid in Angular project and calling v4, when serving angular with `ng serve` option it works fine, when building angular for prod by `ng build --prod` or serving in prod mode by `ng serve --prod`, it throws  `TypeError: Stringified UUID is invalid` exception

## To Reproduce

Steps to reproduce the behavior:

1- create angular project
2- npm install uuid
3- call uuid v4

[2020-07-30 09:10] ctavan commented on #500
Can you provide a minimum reproduction example (ideally as a separate GitHub repository)? The bug you are reporting sounds unexpected and should not definitely not happen. From the information you have provided so far it's difficult to tell if this is an actual problem of this library though.

[2020-07-30 12:57] broofa commented on #500
Looking at `v4()` source, this error might occur if the calling code passes an `options.rng` or `options.random` resulting in invalid/incomplete set of random bytes.

Other than that, as @ctavan says, we'll need a [SSCCE](http://sscce.org/) that lets us reproduce the problem.

[2020-07-31 07:41] goloroden opened #502 "TypeScript types don't match the current version"
## Describe the bug

The bug is pretty simple – the TypeScript types of this module (`@types/uuid`) don't match the current version of `uuid` (right now, 8.3.0). Eg., the `validate` function and `NIL` are unknown. Hence it's not possible to use `uuid` 8.3.0 with these functions in a TypeScript project, unless you tell the compiler to ignore errors. It would be great to have updated types 😊

## How

[2020-07-31 07:48] ctavan commented on #502
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/46395

[2020-08-03 10:20] bjornharrtell opened #503 "Unexpected/incompatible byte representation"
I can roundtrip GUID `75b097d1-b891-4834-9b12-4a94d8c42504` with the following node repl code:

[code]

But I suspect the byte representation is not as expected. I would expect the byte array to be [209, 151, 176, 117, 145, 184, 52, 72, 155, 18, 74, 148, 216, 196, 37, 4]. I found a gist at https://gist.github.com/daboxu/4f1dd0a254326ac2361f8e78f89e97ae that produces that array from `75b097d1-b891-

[2020-08-03 11:55] bjornharrtell commented on #503
I now understand that [209, 151, 176, 117, 145, 184, 52, 72, 155, 18, 74, 148, 216, 196, 37, 4] is the mixed-endian encoded variant which I suppose is not supported by this package.

[2020-08-03 12:14] ctavan commented on #503
@bjornharrtell wow, thanks for reporting!

I think we should mention that in the documentation. Reference: https://stackoverflow.com/a/45671539/1053532

[2020-08-03 14:15] broofa commented on #503
That's an interesting internal data structure MSFT is using to represent GUIDs. It's strange they use multi-byte ints for the first half of the bytes (`int`, `short`, `short`), but individual bytes for the second half.   I assume it's because (per wikipedia) "_The current version of the Microsoft guidgen tool produces standard variant-1 UUIDs._", where the timestamp is contained in the first half

[2020-08-03 14:32] #503 closed

[2020-08-05 04:09] imsam67 opened #505 "Error: Unable to resolve module `./bytesToUuid.js` from `node_modules\uuid\dist\v1.js`"
In my React Native app, I upgraded the uuid package from 8.2.0 to 8.3.0 and now I keep getting this error and my app doesn't build anymore.

Here's the screen shot of what I'm seeing:
![Annotation 2020-08-04 220431](https://user-images.githubusercontent.com/15844030/89370847-ee55d200-d69e-11ea-8c07-e396c2457239.png)

Any idea what's going on here?

BTW, I'm on Windows 10 and the version of Node is

[2020-08-05 06:44] riccardoNovaglia commented on #488
Hey folks, I think this still might be an issue, getting exactly the same problem, importing uuid directly.

Made a repo [here](https://github.com/riccardoNovaglia/uuid-issue) to show the problem.

Hope it helps

[2020-08-05 07:13] ctavan commented on #488
@riccardoNovaglia your node version has incomplete support for the `package.exports` feature. It's also not actively supported by Node.js anymore, see https://nodejs.org/en/about/releases/

Please upgrade to Node.js `v14` if you want to use ESM or downgrade to `v12` if you want to use CommonJS.

[2020-08-05 07:17] ctavan commented on #505
This looks like an issue with either your react-native cache or your local `node_modules` directory. Have you tried cleaning and reinstalling/rebuilding both? The latest version of `uuid` does not require `bytesToUuid.js` from `v1.js`, see https://unpkg.com/browse/uuid@8.3.0/dist/v1.js

So there must be some leftovers in you local setup from earlier versions of `uuid`.

[2020-08-05 07:30] riccardoNovaglia commented on #488
@ctavan absolutely right. Can confirm it works with both v12 and v14. Thanks for the help!

[2020-08-05 21:33] imsam67 commented on #505
Clearing the project cache fixed the issue. Thank you!

[2020-08-05 21:33] #505 closed

[2020-08-05 23:53] mwgamble commented on #502
Looks like an updated version of `@types/uuid` landed a few hours ago.

[2020-08-06 05:11] goloroden commented on #502
Yes, and it includes a definition for validate, but not for NIL. So this issue is still open.

[2020-08-06 08:50] ctavan commented on #502
Yes, we are still waiting for https://github.com/DefinitelyTyped/DefinitelyTyped/pull/46395

[2020-08-08 23:54] temitopealabi commented on #238
@corteshvictor thanks your solutions works for me

[2020-08-09 00:40] forgotPassword commented on #150
Hi, I would to reopen this issue. Offical Node guidelines say not to use randomBytes() in it's synchronous way, as it will block the event loop.

https://nodejs.org/en/docs/guides/dont-block-the-event-loop/

[2020-08-09 14:37] broofa commented on #150
@forgotPassword The reason event loop blocking is a concern with `randomBytes()` is because the `size` parameter is unbounded.  For example (on my laptop):

[code]

If you're generating 1,000,000 random values at a time then, yes, blocking is a real concern.  `uuid` doesn't do that, though.  It only ever requests 16 values at a time, where **performance is on par or better than many other [synchro

[2020-08-09 22:21] forgotPassword commented on #150
@broofa Thanks for the reply. I ran the following bench (Windows):

[code]
[code]

Well, it seems with async we gain 20% js_ops, but lose 60% crypto_ops. So overall using the sync version is better. In extreme cases where you don't need high throughput of randomBytes() and want to maximize event loop performance, can consider the async version.

Also no idea what V8 does behind the scenes with tho

[2020-08-11 13:28] W1N3 opened #506 "tried to run uuid.v4() inside node CLI - TypeError ERR_INVALID_MODULE_SPECIFIER"
## Describe the bug

I tried to run uuid.v4() inside node CLI.

## How to reproduce

Run node as CLI an type inside : ```const { v4: uuidv4 } = require('uuid')``` or ```require('uuid')``` .

## Expected behavior

Get uuidv4() function to test then.

## Runtime

- OS: Arch Linux
- Runtime: Node.js
- Runtime Version: v14.6.0

## Additional information
The bug inside node is :
[code]

[2020-08-11 15:22] erinoggz commented on #245
const { v4: uuidv4 } = require( 'uuid' );
console.log ( uuidv4( ) )

[2020-08-11 20:46] broofa commented on #506
Looks like this is a bug in node@14.6. See also https://github.com/nodejs/node/issues/34521

`require('uuid')` throws for me in the 14.6.0 REPL, but works in 14.0.0 and 14.8.0.

So... upgrade to latest 14.X build of node will be the quickest workaround.

[2020-08-11 22:25] #506 closed

[2020-08-12 08:25] ctavan commented on #502
`@types/uuid@8.3.0` has finally been published. Feel free to reopen if it doesn't meet your needs!

[2020-08-12 08:25] #502 closed

[2020-08-12 11:55] sidpab commented on #500
TypeError: Stringified UUID is invalid
I am using package @azure/storage-blob which internally uses @azure/core-http which uses UUID. Everything was working fine until UUID latest version started breaking at
webpack:///./node_modules/@azure/core-http/node_modules/uuid/dist/esm-browser/stringify.js.pre-build-optimizer.js
I hope this info will help reproduce this issue. This issue only occur when bu

[2020-08-12 12:05] ctavan commented on #500
@sidpab when does this error occur? During the build process? Or when running the production build?

Can you provide a full [SSCCE](http://sscce.org/) that would allow us to reproduce this issue?

[2020-08-12 12:18] sidpab commented on #500
build process works fine, this happens when application is running. I can reproduce this in local environment by command
ng serve --prod
I am using below method from storage-blob which eventually fails with error above
blockBlobClient.uploadBrowserData({}..

[2020-08-12 15:01] broofa commented on #500
@sidpab When we say "SSCCE", we mean something tangible we can use to reproduce the problem.  See also [this SO article](https://stackoverflow.com/help/minimal-reproducible-example).

Another option would be for you to diagnose the problem and explain exactly what's triggering this issue and why it's *our* problem (rather than, for example `@azure/core-http `'s issue). A good starting point for th

[2020-08-12 15:01] #500 closed

[2020-08-13 09:08] o-alexandrov opened #507 "Support for ESM. Modules are not concatenated"
## Is your feature request related to a problem? Please describe.

The [wrapper ESM approach](https://github.com/uuidjs/uuid/pull/423) doesn't produce the most optimal bundles.

## Describe the solution you'd like

It'd be better, if this pkg was built using rollup for the most efficient builds for every environment.
- shipped with built-in TypeScript & written using latest ES

## Additional conte

[2020-08-13 09:37] ctavan commented on #507
How exactly are you building your bundle? This package is built in a way that webpack and rollup _should_ pick up optimized ESM  builds that allow for tree-shaking.

Could you provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) for how you got to the bundle shown above?

Also the module _is_ written in ESModule syntax for precisely the reasons of t

[2020-08-13 12:26] o-alexandrov commented on #507
oups, I apologize, it was improper dependencies hoisting, that uuid on the graph above is `3.4.0`

[2020-08-13 12:26] #507 closed

[2020-08-13 12:44] anton-marchenko opened #508 "uuidv4 return nan-undefinedundefined in browser #193"
Steps:
1. Install Angular 8
2. Install uuid ^8.2.0
3. Run project in development mode. Result is good (like 75442486-0878-440c-9db1-a7006c25a39f).
4. Run project in production mode. Result is:

`nan-undefinedundefined-undefinedundefined-undefinedundefined-undefinedundefinedundefinedundefinedundefinedundefined`

OS: Windows 7 or 10
Browser: Chrome

![image](https://user-images.githubusercontent.com

[2020-08-13 13:15] ctavan commented on #508
This might be the same issue as #500.

Could you provide an actual [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), ideally as a github repository, so that we can look into this?

[2020-08-13 15:23] anton-marchenko commented on #508
Okay. I have created repository with error:
https://github.com/anton-marchenko/uuid-bug

It is not exactly same error that I have had before, but it is similar:
![image](https://user-images.githubusercontent.com/45929621/90153129-42447300-dd91-11ea-89ac-2093f72c4af4.png)

You should:
1. Install node.js
2 npm install -g @angular/cli
3 clone repository
4 ng serve --prod

By the way I realized that t

[2020-08-13 17:31] broofa commented on #508
@anton-marchenko thanks for putting that repo together.  I'm not able to reproduce the problem, unfortunately.

See "Environment" I'm running in, below, though.  Maybe you've got a different setup?  Also, I have `ng` installed locally in the project.  Not sure if that matters (seems unlikely).

[code]

Environment:
[code]

[2020-08-13 18:32] anton-marchenko commented on #508
@broofa  @ctavan

Okay. I have deployed production version for you: https://anton-marchenko.github.io/uuid-bug/index.html

You can see the error in devTools:

![image](https://user-images.githubusercontent.com/45929621/90172957-61043300-ddac-11ea-84cf-f12802dea896.png)

![image](https://user-images.githubusercontent.com/45929621/90172993-6eb9b880-ddac-11ea-9a56-c1e884abc536.png)

[2020-08-13 18:54] broofa commented on #508
kk, I'm seeing that issue on your website.  (Also, thank you!  That's *WAY* easier for me to work with.)

This looks like a code transpilation problem in Angular.  Notice here:
![image](https://user-images.githubusercontent.com/164050/90174201-76e90800-dd5a-11ea-8aa2-ef4f39fc9ed5.png)

This is the transpiled/minified version of [this code](https://github.com/uuidjs/uuid/blob/master/src/stringify.j

[2020-08-13 19:01] broofa commented on #500
Issue 508 (mentioned by ctavan, above) has a reproduceable case.  Looks like this is a result of Angular not properly transpiling the `uuid` module code.   Please continue any relevant conversation on that issue.

[2020-08-13 19:49] anton-marchenko commented on #508
@broofa

Yeah. I reproduced the bug in Angular 8.
I have updated Angular to v9 and the bug does not reproduce any more.

[2020-08-13 19:50] #508 closed

[2020-08-13 20:21] ctavan commented on #500
@RezaRahmati @sidpab can you check if upgrading Angular works for you as well? https://github.com/uuidjs/uuid/issues/508#issuecomment-673677001

[2020-08-15 14:49] RezaRahmati commented on #500
I was checking it on angular 9.1.9, didn't check on Angular 10, btw I downgrade uuid to 7.0.3 and it works

[2020-08-15 14:51] RezaRahmati commented on #508
I originally reported the issue on Angular 9.1.9, not sure how it's working for you

[2020-08-15 15:02] broofa commented on #508
looks like the latest 9.X release of angular is 9.1.12.  Maybe try that?

[2020-08-16 11:50] anton-marchenko commented on #508
I used Angular 9.1.12

[2020-08-19 19:02] afterthought opened #511 "issue with uuidv5 and/or parse function - Invalid UUID"
## Describe the bug

A GUID generated in dotnet is failing to parse. We get an error: Invalid UUID. We encountered the issue with v5, but it's the same error if you pass to the new parse function. I ran git bisect using this test and it fails starting on commit: 0e6c10ba1bf9517796ff23c052fc0468eedfd5f4.

[code]

## How to reproduce

Run this test:

[code]

## Expected behavior

Should produce a v5

[2020-08-20 08:03] ctavan commented on #511
@afterthought can you provide more details on how you generated the "GUID" `de42f6ff-210c-da9c-a30e-1a4ac2743656`?

It does not appear to be an [RFC4122](https://tools.ietf.org/html/rfc4122) compliant UUID: The first character after the second `-` in your UUID is a `d`. However valid UUIDs have the version number at this position which must be one of `1`, `3`, `4`, `5`.

We did include more thorou

[2020-08-20 08:36] ctavan commented on #508
@anton-marchenko thank you for taking the time to pull together the reproduction.

I was able to reproduce the issue with Angular 8.

The key thing that fixed it for me was upgrading `@angular-devkit/build-angular@0.801.3` to `@angular-devkit/build-angular@0.901.12`

@RezaRahmati can you give that a try?

[2020-08-20 08:37] ctavan commented on #500
For people coming here from Google: This is due to a bug in `@angular-devkit/build-angular@0.801.3`, it works with `@angular-devkit/build-angular@0.901.12` and later. See https://github.com/uuidjs/uuid/issues/508#issuecomment-677460598

[2020-08-20 17:11] broofa commented on #511
FWIW, I think there's some misconceptions around the synonymity of Microsoft GUIDs and RFC4122.   Lots of articles out there conflating these two terms, often claiming they're identical.  However, Microsoft is [pretty](docs.microsoft.com/en-us/windows/win32/msi/guid) clear [that](https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/methods-auto/guid/guid-data-type) GUI

[2020-08-20 18:00] afterthought commented on #511
Ok. So I was wrong about it coming from dotnet. It actually originates from an old titanium based mobile app with a handwritten random number generator that just orders the chars/digits into a guid format. Pretty bad. (I did do some testing with the MS Guid.newGuid() method and it seems compliant).

I definitely see that the ID is non-compliant and now we know why. I'm now in the pinch of figuring

[2020-08-20 18:47] ctavan commented on #511
@broofa since this seems to be popping up a few times and since legacy data may be hard or impossible to change: How do you feel about introducing an optional `lax` option to `uuid.v5/3` that restores the pre-`uuid@8.3` lax checking?

[2020-08-20 21:25] broofa commented on #511
@afterthought If you pass the namespace as a byte array, it circumvents the `parse()` (and subsequent validation check).  Would that work for you ?

E.g.
[code]

[2020-08-20 21:36] afterthought commented on #511
Yes, elegant backdoor. Thanks for the help.

[2020-08-20 22:28] ctavan commented on #511
@broofa is this workaround a behavior we want to have/encourage? Or rather make this an explicit option to allow skipping the namespace validation?

[2020-08-22 11:49] ctavan opened #512 "Validate byte-array-based namespaces passed into v3/5"
That byte-array-based namespaces aren't validated but string ones are is an inconsistency that should probably get addressed at some point so... yeah... @afterthought probably shouldn't count on this continuing to work in the future.  But I don't see a compelling reason to close that particular loophole at the moment.

The alternative - adding an option to allow non-standard namespaces - flies in

[2020-08-24 10:42] musamaUet commented on #444
ECMAScript Module syntax:

[code]

[2020-08-24 10:44] TrySound commented on #444
Hey @musamaUet. Do you have a question?

[2020-09-03 02:05] chinomnsoawazie opened #514 "crypto.getRandomValues() not supported. See https://github.com/uuidjs/uuid#getrandomvalues-not-supporte"
Just got this surprising error after using uuid for so long

**Environment**
`"react-native": "0.63.2"`
`"react-native-get-random-values": "^1.4.0"`
`"uuid": "^8.3.0"`

**What was tried**
I get this error when `const id = uuidv4()` runs. I added "react-native-get-random-values" as suggested, but with yarn and imported it this way;

`import React, {useState} from 'react';`
`import 'react-native-get

[2020-09-03 14:12] puzpuzpuz commented on #514
This seems to be the same issue as #375

[2020-09-04 09:04] LinusU commented on #514
Are you using Expo? In that case you need to upgrade to SDK 39 (which isn't out yet 🙈)

Are you developing for iOS? Can you try run `npx pod-install` in your project and see if that fixes the problem.

[2020-09-05 13:11] shahidql1 commented on #500
With @angular-devkit under @angular7 caused the same issue on the production. But downgrading to uuid@v7.0.3 worked out.

[2020-09-06 12:44] ctavan commented on #500
@shahidql1 as mentioned [in the comment right above](https://github.com/uuidjs/uuid/issues/500#issuecomment-677461059): This is a bug in Angular's production build minifier and seems to affect versions prior to `@angular-devkit/build-angular@0.901.12`.

[2020-09-06 19:27] josh-manton commented on #512
Is the above correct? It looks like it is reversed. string based uuids are getting passed to parse, while byte-array based name spaces by-pass parse and hence validate. The behavior should be the same, but I do believe that there should be a way to pass which validator you'd like, 'strict' which is fully RFC compliant, and 'lax' which only check the overall format of the string.

[2020-09-09 18:18] chinomnsoawazie commented on #514
No I am not. I am developing for iOS, and have ran a number of `pod install` within the iOS folder after adding the package at app level without the problem going away. I already had `pods` for the project installed and generated.

I ended up going with `uuid-random: ^1.3.2`. Got the job done, and I see that package is picking up steam judging by the weekly download figures.... possibly by people

[2020-09-09 18:21] chinomnsoawazie commented on #514
Not quite... I am not using Expo on this project, issue #375 involves Expo platform. I would hazard a guess that a fix which works for the Expo platform will work on native too.

[2020-09-09 18:42] bradennapier commented on #75
FYI I built this awhile back which does this shuffling when converting `uuidv1` into a binary format: https://github.com/odo-network/binary-uuid

[2020-09-09 18:46] ctavan commented on #514
@chinomnsoawazie this is strange, it *should* work with regular react-native in the way you show above. Would you mind comparing your setup with https://github.com/ctavan/uuid-example-react-native which also uses react-native 0.63.2 and works flawlessly?

Please beware that `uuid-random` is using `Math.random()` as a fallback when no cryptographically secure random number generator (CSPRNG) is ava

[2020-09-09 20:32] KevinGruber opened #516 "IE 11 breaking with Version 8.3.0"
## Describe the bug

Since the minor version bump to 8.3.0 we experience problem sin IE11 with uuid.
Based on the error we get it pinpoints to the code which introduced there.
https://github.com/uuidjs/uuid/pull/479/files#diff-016d740d7835ede8d0af47fe304f7191R16
**SCRIPT1006: ')' erwartet** (expected)

## How to reproduce

Use uuid with IE11.

## Expected behavior

It doesn't throw an exception an

[2020-09-09 21:09] ctavan commented on #516
@KevinGruber this comes unexpected since the [browser tests for IE11 did pass for the 8.3.0 release](https://github.com/uuidjs/uuid/runs/915976648).

How exactly are you using uuid? Can you provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) for the error, including the respective module bundlers etc.? This would help a lot in further debugging the

[2020-09-09 21:53] KevinGruber commented on #516
Hi @ctavan,

Of course we are using webpack 4.
In the bundled code it complains about an closing )

And i found it now with a really small repo.
You are using default value in stringify for parameter offset and that is not allowed in ES5 and lower (IE11).

[IE11 repo.zip](https://github.com/uuidjs/uuid/files/5198113/IE11.repo.zip)

Should I open a PR?
I could do it tomorrow

[2020-09-10 07:36] ctavan commented on #516
Hi @KevinGruber. Thanks for providing further information.

Unfortunately to me this still does not explain the issue. Normally, webpack should pick up the files from `dist/esm-browser/` for browser builds, and these files have been transpiled to ES5 in order to work with IE11. Specifically, if you look at https://unpkg.com/browse/uuid@8.3.0/dist/esm-browser/stringify.js line 14 you can see that t

[2020-09-10 07:49] KevinGruber commented on #516
Hi @ctavan,

i see what is "wrong", you specify browser as module keyword.
which we skip on differential build, because module is only es6 and higher.
then we look at main which includes the node version of your script which breaks.

our mainField order is: legacy, unpkg, browser, main, module for the es5 builds.

I also saw you have browser specified, but I am not familiar with that syntax, are y

[2020-09-10 08:30] ctavan commented on #516
OK, this explains it.

From your config the relevant `mainField` values are `browser` -> `main` -> `module`.

This will effectively pick the CommonJS builds from `./dist` and the three CommonJS browser overrides that are specified in [package.json](https://unpkg.com/browse/uuid@8.3.0/package.json).

I don't see a reason to specify `main` before `module` when using webpack though, because webpack w

[2020-09-10 09:57] KevinGruber commented on #516
I am trying right now if it still works with the switched order,

We sadly need to change it, as we have internal libraries which we build for es5,es6 and cjs and those are then imported accordingly into our isomorphic application.

Thanks I will close the Ticket than

[2020-09-10 09:57] #516 closed

[2020-09-10 10:40] ctavan commented on #516
@KevinGruber one other idea would be to use `babel-loader` in order to transpile `uuid`, see https://stackoverflow.com/questions/54043498/how-to-transpile-node-modules-modules-with-babel-loader

[2020-09-11 00:34] chinomnsoawazie commented on #514
Just tried your suggested configuration this way...

- I did `yarn install uuid` (I had removed it from my application!)
- I did `cd ios && pod install && cd ..`
- I added `import 'react-native-get-random-values;` to my index.js as you suggested (previously, I had imported this in the same component I needed it in)
- I did `import {v4 as uuidv4} from 'uuid'` in the component I needed the ids.
- I

[2020-09-11 07:27] ctavan commented on #514
Hmm, does the same error appear when you clone https://github.com/ctavan/uuid-example-react-native and run:

[code]

[2020-09-11 16:20] chinomnsoawazie commented on #514
I am not exactly sure why you need me to clone your repo for this issue; I have taken a look at your `package.json` and we have the same non-expo environment, this issue is also affecting those using Expo as issue #375 highlights. Your second suggestion is _no different_ from the first one you made, which I already tried. Maybe if you added more `npm` packages to your app to create some realistic

[2020-09-11 18:10] ctavan commented on #514
The expo-related issue from #375 is clearly understood and reproducible. If you are seeing the same error on a non-expo react native app it must be a _different_ issue, as https://github.com/ctavan/uuid-example-react-native proves that it is well possible to use `uuid` in combination with `react-native-get-random-values` on plain react native apps.

Please provide a [Minimal Reproducible Example](

[2020-09-11 21:31] chinomnsoawazie commented on #514
Here is the repo for the ongoing demonstration project that this situation happens. Feel free to use it for debugging purposes. Hopefully that helps as all I really wanted to do was raise this issue with hopes of drawing your attention to it. I really wish I had the time resources to invest more on this. Regards.

https://github.com/chinomnsoawazie/dogstagram-frontweb-mobile

[2020-09-11 22:44] ctavan commented on #514
As [mentioned in the documentation](https://github.com/uuidjs/uuid#react-native) and as [shown in the working example](https://github.com/ctavan/uuid-example-react-native/blob/7a33fe40d04e426a07a0d99ea2fda379784bf770/index.js#L5-L7) `react-native-get-random-values` must be imported _before_ `uuid` is imported (or, in the case of your app, _before_ `App.js` is imported, just like it's done [here](h

[2020-09-11 22:44] #514 closed

[2020-09-12 11:39] chinomnsoawazie commented on #514
I think the most important line in your last comment is "`react-native-get-random-values` must be imported _before_ uuid is imported (**or, in the case of your app, before App.js**)". The [documentation](https://github.com/uuidjs/uuid#react-native) as it is right now is not very clear on that, especially, the part that says....

**"getRandomValues() not supported"**
This error occurs in environmen

[2020-09-12 11:52] ctavan commented on #514
One reason why importing it directly before `uuid` may not work is if `uuid` also comes as a transitive dependency of some other dependency that has been imported even earlier in the import chain.

This is indeed something I didn't really consider so far. I will update the documentation to be a bit more clear on that.

[2020-09-12 16:07] broofa commented on #514
Is this something `react-native-get-random-values` could detect and warn / throw about?

[2020-09-12 18:20] ctavan commented on #514
I don't see how? The problem here really is that we get the reference to `crypto.getRandomValues()` on module load time: https://github.com/uuidjs/uuid/blob/ac1b3afbf410e2dab259a1b7df0f27da919aabff/src/rng-browser.js#L5-L25

This is where the import order dependency comes from. We could move this statement into the `rng()` function body. I don't expect a performance hit here and since we currently

[2020-09-13 00:30] Shady-ops commented on #444
const { v1: uuidv1 } = require('uuid');

[2020-09-19 15:48] rahadkc opened #519 "Could not find a declaration file for module 'uuid'."
Try:
`npm i uuid`
`npm i @types/uuid`

Then:
`import { v4 as uuid4 } from 'uuid'`

Getting this error in console:

<img width="837" alt="Screenshot 2020-09-19 at 9 45 28 PM" src="https://user-images.githubusercontent.com/8745638/93671035-909c0e80-fac1-11ea-911c-737dffd239de.png">

Thanks

[2020-09-19 18:32] ctavan commented on #519
Your ticket doesn’t provide all the required information.

Please open a new bug report and make sure to fill out the entire bug report template.

[2020-09-19 18:32] #519 closed

[2020-09-24 09:24] correttojs opened #520 "add fromString method alternative"
I'd like to migrate from `uuidv4`, as suggested in that repo.
I'm using the function `fromString` which doesn't exist in this repo. I see the `uuid.v4()` function accepts several options, but I don't see a way to create a uuid given a string.
Could you provide this functionality or document it if already available?

[2020-09-24 11:54] ctavan commented on #520
What exactly are you trying to achieve? Do you want to convert a string representation of a `UUID` into a byte array? Then [`uuid.parse()`](https://github.com/uuidjs/uuid#uuidparsestr) is your friend.

[2020-09-24 12:07] correttojs commented on #520
given a unique string (i.e. a user identifier), I would like to generate always the same uuid

[2020-09-24 12:09] broofa commented on #520
@correttojs The deprecation message warning provided by `uuidv4` tells you (mostly) how to do this - use the `v5()` method.  E.g.
[code]

(@ctavan: `uuidv4`'s `fromString()` method is a wrapper around v5 namespace uuid creation.  [See source](https://github.com/thenativeweb/uuidv4/blob/master/lib/uuidv4.ts#L31-L34).)

The one fiddly bit is the custom namespace ("bb5d0ffa-...")  you need to provide

[2020-09-24 12:15] correttojs commented on #520
that would cover my case, thank you!
indeed I saw a deprecation warning in `uuidv4`, but it was only related to the `isUuid` method. It would be nice to add one as well for the `fromString` method

[2020-09-24 17:57] goloroden commented on #520
Thanks for the hint! I think we'll update the docs sooner or later, and phase out the module entirely.

[2020-09-26 11:42] asitbiswas commented on #488
update your node. i had the same problem using node 13.3.0 and uuid 8.3.0.

then i upgraded to node 14.12.0 and it worked

[2020-09-26 19:18] rajatkeshar commented on #75
Hi, is there any ways to generate uuid in descending order?

[2020-09-27 16:25] RatonBiswas commented on #488
const { v4 : uuidv4 } = require('uuid');

export { default as v1 } from './v1.js';
^^^^^^
SyntaxError: Unexpected token 'export'

How can I solve this?

[2020-09-27 16:36] TrySound commented on #488
@RatonBiswas Why do you mix commonjs and es modules? `uuid` supports both. And what is your environment? We cannot help without additional information.

[2020-09-28 07:10] RatonBiswas commented on #488
yes, you are right.

[2020-09-28 19:22] ctavan commented on #75
What exactly are you trying to achieve, @rajatkeshar ?

[2020-09-28 19:32] jonagoldman commented on #75
I think he means a version 1 UUID with the time fields swapped so the lowest bytes appear first, the middle bytes are next, and the highest bytes come last so that the UUID is sorted by creation time.

Like in [Ramsey Orxered-Time UUID](https://uuid.ramsey.dev/en/latest/customize/ordered-time-codec.html#customize-ordered-time-codec)

Or maybe the experental UUID version 6...

[2020-09-28 19:50] ctavan commented on #75
But generating these would still result in _ascending_ order…

[2020-10-01 12:49] ionTea opened #521 "validate REGEX incorrect?"
## Describe the bug
With the validation introduced in https://github.com/uuidjs/uuid/commit/0e6c10ba1bf9517796ff23c052fc0468eedfd5f4 causes the namespace we use for `v5` is no longer deemed to be valid. However, the namespace UUID seems to be a valid: `efca7b02-deaf-dead-d3de-c0ffeec0ffee`

The regex used to verify the UUID is:
[code]

I'm not sure this regex is correct.

## How to reproduce

[cod

[2020-10-01 13:08] ctavan commented on #521
I'm afraid but `efca7b02-deaf-dead-d3de-c0ffeec0ffee` is certainly not an RFC-compliant UUID. As you can see from the regex, the first character after the second `-` is the UUID version, which must be one of `1345` and the first character after the third dash must be one of `89ab`.

However your UUID was generated in the first place, it is not something that is covered by [RFC4122](https://www.iet

[2020-10-01 13:14] ionTea commented on #521
Alright, thanks for linking that other issue! I'll close this one 👍

[2020-10-01 13:14] #521 closed

[2020-10-02 08:24] gandarain opened #522 "Error "Cannot read property 'getRandomBase64' of undefined" , when running test file"
## Describe the bug

I try to use uuid and react native random values on react native my project. Everything is working fine, but when I run my test file, I get an error 'Cannot read property 'getRandomBase64' of undefined'.

## How to reproduce

**REQUIRED**: Provide a [Minimal, Complete, and Verifiable](https://stackoverflow.com/help/minimal-reproducible-example) example so that we (the `uuid` m

[2020-10-02 08:54] ctavan commented on #522
![image](https://user-images.githubusercontent.com/508118/94905692-93253d80-049d-11eb-8dde-fc47cd51347a.png)

[2020-10-02 08:54] #522 closed

[2020-10-03 09:20] Mairu opened #523 "IE11 support broken since 8.3"
## Describe the bug

Since version 8.3 the lib does not work in IE11.

## How to reproduce

Load the lib in IE11

## Expected behavior

It should work in IE11

## Runtime

- OS: Window
- Runtime: IE11
- Runtime Version: 11.508.19041.0

## Additional information

The Problem is, that IE11 does not support default values for function parameters, which is used in https://github.com/uuidjs/uuid/pull/4

[2020-10-03 09:35] Mairu commented on #523
Ok, it is a problem of meteor not using the esm-browser version when importing it.

[2020-10-03 09:35] #523 closed

[2020-10-04 13:17] ctavan commented on #523
I guess it's a duplicate of #516: If your bundler is configured to prefer CommonJS versions of a module over ESM, you might get problems in IE11.

We could technically fix it, but I'm a bit reluctant of introducing a new special build just to support the CommonJS w/ IE11 special case. When bundling for the browser, using the CommonJS build is not ideal anyways since you will always get the full UU

[2020-10-04 13:20] ctavan commented on #520
Closing in favor of https://github.com/thenativeweb/uuidv4/issues/219 since there's nothing actionable on our end.

[2020-10-04 13:20] #520 closed

[2020-10-04 15:29] #375 closed

[2020-10-04 15:31] ctavan commented on #375
With `expo@39` and `react-native-get-random-values@1.5` this is finally working as intended.

See:
* https://github.com/uuidjs/uuid/pull/515
* https://github.com/ctavan/uuid-example-expo

[2020-10-06 10:03] simlu opened #525 "Regression: Stub pseudo randomness broken"
## Describe the bug

Stubbing of pseudo randomness no longer feasible / working with [this change](https://github.com/uuidjs/uuid/pull/513)

The below example works reliably with `8.3.0` but breaks with `8.3.1`

## How to reproduce

[code]

Above can probably be made even more minimal. The example was [distilled from here](https://github.com/blackflux/node-tdd/blob/master/src/modules/random-seeder

[2020-10-06 10:29] ctavan commented on #525
Good catch. I agree that randomness should somehow be mockable.

However, OTOH I don't immediately see a simple solution. Will require some more thinking I guess.

[2020-10-06 14:15] puzpuzpuz commented on #525
A primitive solution might be to use the seed to generate only one octet and then duplicate it in the buffer returned from `randomBytes()`:
[code]

However, this approach is fragile (just like any other approach to mocking core modules, especially `crypto`) and may not fit into the requirements for the mocking library (not sure here).

I can also think of another approach: `uuid` could allow users

[2020-10-06 15:41] simlu commented on #525
@puzpuzpuz

(1) Yeah, I was thinking about doing that approach, however it prevents one from having a predictable sequence of uuids. So that's not a possible solution unfortunately

(2) Setting a random pool size is not great. One could try mocking `v4` from uuid, but mostly the function directly imported, so mocking is not possible. And doing a `resetPool()` function seems really hacky. Not a big

[2020-10-06 16:04] puzpuzpuz commented on #525
The concerns are basically the same as with vanilla `crypto.randomFillSync()`/`crypto.randomBytes()` usage. Internally, it boils down to OpenSSL's [`RAND_bytes`](https://www.openssl.org/docs/man1.1.1/man3/RAND_bytes.html) call which uses a CSPRNG. So, personally I don't see any new attack vectors being introduced with the discussed optimization. If you see anything in particular on your mind, I'm

[2020-10-06 17:36] broofa commented on #525
We could have check for something like `crypto.fillRandomBytes.isMock = true` to disable the `rnds8Pool` caching but... can't say I'm a big fan of that idea.  Feels too messy and ad-hoc.

Or just revert #513.  It's not like perf is a critical issue.

[2020-10-06 17:38] simlu commented on #525
Somewhere along the lines of: If you have memory access you can reliably know the next uuid generated. Before that wasn't the case.

[2020-10-06 18:02] puzpuzpuz commented on #525
Previously the allocated buffer could be intercepted as well, with a smaller time frame, but that's arguable. Obviously, if someone has the memory access, you're already screwed.

[2020-10-07 12:45] ben8p opened #526 "allow to specify a uuid version to `validate` method"
## Is your feature request related to a problem? Please describe.

Cross referencing https://github.com/thenativeweb/uuidv4/issues/221

There is currently no way to know if a given string is a valid uuid of a specific version.  We can only know if it is a valid uuid (regardless of the version)

## Describe the solution you'd like

add a 2nd argument to `validate` where we can specify the version o

[2020-10-07 13:50] ctavan commented on #526
You can use [`uuid.version()`](https://github.com/uuidjs/uuid#uuidversionstr), which calls validate under the hood and returns the version as a number. It throws the same error as [`uuid.validate()`](https://github.com/uuidjs/uuid#uuidvalidatestr) when call with a malformed uuid.

Does that work for you?

[2020-10-07 13:53] ctavan commented on #526
If you don't want to catch the error you can also do something like:

[code]

[2020-10-07 14:22] ben8p commented on #526
Sounds great!
Indeed using`.version` is a satisfying approach.

Thanks
Closing for now.

[2020-10-07 14:22] #526 closed

[2020-10-07 15:47] simlu commented on #525
I've worked a lot with security relevant systems and libraries in the past and this just really gives me a bad vibe. Let me give you an example (somewhat constructed, but not unrealistic).

(1) Using this library in a program to generate a secret password. After copying the password and deleted it from the program, it can still be found in memory. This is the case even if the user "logs out" of th

[2020-10-07 16:42] puzpuzpuz commented on #525
@simlu it's very hard to argue against a bad vibe, but I'll try.

Scenario 1 was exactly the same before #513, as the buffer was reused since #435. And even before that the buffer could be still available on heap until it's eventually overwritten during GC compaction or new objects.

As for the scenario 2, I don't quite understand what's meant by "user logged into a program". Is it a OS-level user

[2020-10-07 17:37] simlu commented on #525
Agreed, this should be separate issue. I'll open one

[2020-10-07 17:45] simlu opened #527 "Security Implications of "caching randomness""
There are some possible security implications of caching randomness as discussed [here](https://github.com/uuidjs/uuid/issues/525#issuecomment-705026235)

Since the original ticket was about "mockability" of uuid, I'm opening this ticket for further discussion on the security implications.

The gist of the problem is:
- Using `crypto.randomBytes` made it extremely hard (impossible) to know previou

[2020-10-07 17:58] broofa commented on #527
Please elaborate on what "very easy" means.

This may be naive, but doesn't the module-private nature of this pool (in-memory only, not exported)  mean it's actually quite difficult to access?  And if there's a viable method for doing so, the security ramifications would extend well beyond just this module?

[2020-10-07 18:09] simlu commented on #527
@broofa There are a lot of tools out there: https://github.com/Rob--/memoryjs - It's not about "how hard it is", but if it's the correct thing to do from a security perspective. I mean we could also mark this library as "don't use for security relevant use cases", but my preference would be not to do that.

I might have another argument here:

Not a security concern, but (I think?) a legitimate pr

[2020-10-07 18:58] ctavan commented on #527
This idea is interesting. I'm wondering though if preallocation of random bytes really introduces a new problem here that otherwise wouldn't exist. Just assume the container is frozen at the exact point in time _after_ a UUID has been returned by the uuid module but _before_ the database insert has been issued. Copying that snapshot and continuing it multiple times would also result in unique key

[2020-10-07 19:44] simlu commented on #527
@ctavan I'd say that the main difference is that with one approach you can easily "flush" (i.e. wait for all externally triggered operations to complete), while there is no easy way of clearing the uuid cache (which you might not even know about).

I'm no expert by any means and hence posted on stackexchange [here](https://security.stackexchange.com/questions/239280/security-implications-of-cachin

[2020-10-22 10:40] fatihyenidunya commented on #488
if it is still not running after updated node, try update  uuid **npm install uuid**

[2020-10-27 12:33] bompi88 commented on #377
This seems to be working for me for version `8.3.1`. Still a hack though, but I don't want to rely on `proxyquire` etc.

[code]

[2020-10-28 17:15] shackpank commented on #377
@bompi88 that will stop working in more recent stable versions of node - it works on node 10 but node 12 and above enforces that you can only require things the package intended to export, and will throw an `ERR_PACKAGE_PATH_NOT_EXPORTED` error

[2020-10-28 22:44] adamjakab opened #528 "Typescript project: TypeError: uuid_1.validate is not a function"
## Describe the bug
I am using this library in a typescript project. I have the v4 generator function working correctly but when I call the `validate` or `version` methods I get the following error:
`TypeError: uuid_1.validate is not a function`

This happens when I run my jest test on an [extremely simple code](https://github.com/adamjakab/CF-Worker-Tests/blob/0e85eb7754c3e4e7168a4ecbc50217bb2aba

[2020-10-29 02:02] broofa commented on #528
Due to [using an old version](https://github.com/adamjakab/CF-Worker-Tests/blob/0e85eb7754c3e4e7168a4ecbc50217bb2aba8082/package.json#L52)?

As [noted in the docs](https://github.com/uuidjs/uuid#api-summary), `validate()` was not introduced until v8.3.

[2020-10-29 07:46] adamjakab commented on #528
Good catch! I don't know why this happens (and I retried even after force cleaning npm cache) but when I issue `npm install uuid` I get version 3.3.3 installed. I had to install it declaring the version number explicitly by `npm install uuid@8.3.1`. Everything is running smoothly now, thanks.

[2020-10-29 07:53] #528 closed

[2020-10-30 22:55] jstewmon commented on #150
👋 Hi, stumbled across this issue today, read through the comments and wanted to mention that I think the case for using the async version of `randomBytes` is to avoid blocking the event loop because the operation may block waiting for entropy, which will almost never happen outside of a virtualized or containerized environment.

But, it is not a hypothetical problem for workloads running in virtua

[2020-11-03 21:51] SherifNeamatalla commented on #500
Unfortunately I do not have the time right now to provide an example for this but I confirm that @angular-devkit/build-angular@~0.803.15 works, anything less than that doesn't. @ctavan  thanks dude you saved me lots of headache.

[2020-11-09 10:05] ghasemikasra39 opened #531 "React-native: uuid not working when debugger is disabled"
## Describe the bug

In my react-native application, I am using:
[code]
The uuid get generated successfully when the app is running on `debug` mode (The debugger is enabled). However, if you turn off the debugger, it does not work, as soon as the app reaches  `uuidv4()` line of code, it stops there without any error in the console.

## How to reproduce

1. `npx react-native init AwesomeProject`
2.

[2020-11-09 12:37] ctavan commented on #531
Did you [follow the documentation](https://github.com/uuidjs/uuid#react-native--expo) and install `react-native-get-random-values`?

[2020-11-09 14:16] broofa commented on #531
`uuid` doesn't export a `uuidv4` property.  Try `import { v4 as uuidv4 } from 'uuid';` as suggested in documentation?

(@ctavan Am I missing something here?  Is `import {uuidv4} from 'uuid'` expected to work with react-native and the `react-native-get-random-values` module somehow?)

[2020-11-09 14:22] ctavan commented on #531
Oops. I stopped reading the example code after `import` because I saw that the polyfill was missing… But you are obviously right, @broofa, in addition to the missing polyfill it must also read:

[code]

Just like in the documentation: https://github.com/uuidjs/uuid#react-native--expo

[2020-11-13 05:18] guillefix commented on #488
I still have this issue

[2020-11-13 09:26] ctavan commented on #488
@guillefix please see: https://github.com/uuidjs/uuid/issues/488#issuecomment-664585063

[2020-11-18 15:56] alexanderankin opened #532 "Would this library support generating namespaced UUIDs without a namespace?"
## Is your feature request related to a problem? Please describe.

I am working with some other microservices implemented in Java, their acceptance tests use UUIDs which are generated from string names, and no namespaces, using this library: [docs](http://cowtowncoder.github.io/java-uuid-generator/javadoc/3.1.3/index.html?com/fasterxml/uuid/impl/NameBasedGenerator.html), [source](https://github.co

[2020-11-18 16:09] alexanderankin commented on #532
actually, it looks like i can fool it with `{ length: 16 }` instead of a string. but i figured i would let you guys know what is being implemented out there. it works in that i get the same result every time i do `uuid.v5('name', { length: 16 })`

[2020-11-18 16:22] JakyChen opened #533 "Unable to resolve module `uuid/v4`"
## Describe the bug

Hi, I am using React Native to run uuid but come across this error:

error: bundling failed: Error: Unable to resolve module `uuid/v4` from `src/actions/TeamActions.js`: uuid/v4 could not be found within the project.

## How to reproduce

npm install react-native-get-random-values
npm install uuid

import 'react-native-get-random-values';
import { v4 as uuidv4 } from 'uuid'

c

[2020-11-18 17:02] broofa commented on #532
The way I read RFC4122, it doesn't really allow for this.  [The namespace algorithm](https://tools.ietf.org/html/rfc4122#section-4.3) states:
* **Allocate a UUID to use as a "name space ID" for all UUID generated from names in that name space**; see Appendix C for some pre-defined values.
* ...
* Compute the hash of the **name space ID** concatenated with the name.

The Java code you reference, if

[2020-11-18 17:08] #533 closed

[2020-11-18 17:48] alexanderankin commented on #532
Oh, that's interesting, thanks for that insight. Yes, that is what i think that code is doing also.

[2020-11-18 18:45] alexanderankin commented on #532
it seems as though it is a different result in the other implementation:

[code]

produces:

[code]

whereas:

[code]

produces

[code]

thanks for the quick response and the tip once again

[2020-11-18 18:45] #532 closed

[2020-11-18 19:48] ctavan commented on #532
@alexanderankin yes, this is totally expected. The two different UUIDs you are generating with the JAVA library are:

[code]

where `NIL` are just 16 0-bytes.

[2020-11-19 18:21] tinjaw opened #535 "Please port getLeastSignificantBits() and getMostSignificantBits() from java"
See https://stackoverflow.com/questions/64917603/looking-for-javascript-equivalents-for-javas-getleastsignificantbits-and-getm

I am interfacing with an API that requires the UUID to be packaged as two 64-bit integers as computed by those functions.